<div id="help-desk">
    <div class="col-md-12" >
        <div class="panel panel-default">
            <div class="panel-heading" translate>Blocked adverts</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-2">

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <label class="control-label" translate>Account type</label>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="filter.account" value="all">
                                            {{'All'|translate}}
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="filter.account" value="private">
                                            {{'Private'|translate}}
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="filter.account" value="business">
                                            {{'Business'|translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">

                                <div class="col-sm-9">
                                    <label class="control-label" translate>Advert type</label>
                                    <div class="radio">
                                        <label >
                                            <input type="radio" ng-model="filter.adv_type" value="all">
                                            {{'All'|translate}}
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="filter.adv_type" value="rent">
                                            {{'RENT'|translate}}
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="filter.adv_type" value="sale">
                                            {{'SALE'|translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <label class="control-label" translate>Status</label>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="filter.status" value="all">
                                            {{'All'|translate}}
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="filter.status" value="blocked">
                                            {{'Blocked'|translate}}
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="filter.status" value="approve_waiting">
                                            {{'Waiting for approve'|translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary" ng-click="search(filter)" translate>Search</button>
                                <button type="button" class="btn btn-primary" ng-click="reset()" translate>Reset filter</button>
                            </div>


                        </div>
                    </div>

                </form>

                <table class="table">
                    <tr>
                        <th></th>
                        <th translate>Advert ID</th>
                        <th translate>Advert type</th>
                        <th translate>Customer ID</th>
                        <th translate>Account type</th>
                        <th translate>Status</th>
                        <th translate>React</th>
                        <th translate>Created</th>
                        <th translate>End on</th>
                    </tr>
                    <tr ng-repeat="adv in env.advs">
                        <td><input type="checkbox" checklist-model="selected" checklist-value="adv.id"></td>
                        <td><a ng-click="setAdv(adv)" class="link">{{adv.id}}</a></td>
                        <td>{{adv.type}}</td>
                        <td><a href="">{{adv.user_id}}</a></td>
                        <td>{{adv.owner.group_id==2 ? 'Private' : (adv.owner.group_id==3 ? 'Business' : '')}}</td>
                        <td>{{adv.StatusStr}}</td>
                        <td>{{adv.CreateDateWithTime}}</td>
                    </tr>
                </table>

                <hr>
                <div>
                    <div class="col-md-6 text-left">
                        <button type="button" class="btn btn-primary" translate>Activate</button>
                    </div>

                    <div class="col-md-6 text-right form-inline">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"  ng-model="env.adv.blocked_flag" ng-true-value="1" ng-false-value="0">   Activate deletion
                            </label>
                        </div>
                        <button type="button" class="btn btn-primary" translate>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
