<div>



    <div class="col-md-6">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="col-md-5 navbar-right navbar-form">
                        <button class="btn btn-success" style="float:right"
                                ng-if="env.display_view_map==false"
                                ng-click="displayMap(true)"><span class="glyphicon glyphicon-map-marker"
                                                                  aria-hidden="true"></span>
                            Display map
                        </button>

                        <button class="btn btn-success" style="float:right"
                                ng-if="env.display_view_map==true"
                                ng-click="displayPhotos()"><span class="glyphicon glyphicon-picture"
                                                                 aria-hidden="true"></span>
                            Display photos
                        </button>
                    </div>

                </div>
            </nav>

        </div>

        <div class="row" id="photo-block" photo-block ng-if="env.display_view_map==false">
            <div class="col-md-12 main">
                <img ng-src="{{adv.MainPhoto}}">
                <div class="back navigate hide"></div>
                <div class="next navigate hide"></div>
            </div>

            <div class="preview col-md-12">
                <img ng-repeat="photo in adv.photos" ng-src="{{photo}}">
            </div>
        </div>

        <div class="row" ng-show="env.display_view_map==true">
            <div id="view_map" style="height: 500px;width:100%"></div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <h4>Vendor</h4>
                <table class="table">
                    <tr>
                        <td>Contact person:</td>
                        <td>{{adv.author.sex=='male' ? 'Mr' : 'Ms'}} {{adv.author.name}} {{adv.author.surname}}</td>
                    </tr>
                    <tr ng-if="adv.author.hide_contacts!==true">
                        <td>Phone:</td>
                        <td>{{adv.author.phone}}</td>
                    </tr>
                    <tr ng-if="adv.author.hide_contacts!==true">
                        <td>Email:</td>
                        <td>{{adv.author.email}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-7" ng-if="hideContactForm==='false'">
                <h4>Contact</h4>


                <form class="form-horizontal" name="messageForm">
                    <div class="form-group" ng-class="{ 'has-error': messageForm.sex.$invalid && env.submit==true }">
                        <label class="col-sm-2 control-label"> Title</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="sex" ng-model="message.sex" value="male"
                                       required> Mister
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" ng-model="message.sex" value="female"
                                       required> Miss
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Your name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="message.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Your phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="message.phone">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': messageForm.email.$invalid && env.submit==true }">
                        <label class="col-sm-2 control-label">Your email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" required ng-model="message.email">
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': messageForm.message.$invalid && env.submit==true }">
                        <textarea class="form-control" ng-model="message.message" name="message" required></textarea>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button"
                                    ng-disabled="env.submit==true"
                                    ng-click="sendMessage(messageForm, message)" class="btn btn-default">Send message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4 ng-bind-html="adv.title|to_trusted"></h4>

        <div class="row">
            <div class="col-md-6">
                <table style="width: 100%">
                    <tr>
                        <td>City:</td>
                        <td>{{adv.address.city}}</td>
                    </tr>
                    <tr>
                        <td>ZIP:</td>
                        <td>{{adv.address.zip}}</td>
                    </tr>
                    <tr>
                        <td>Street / House number:</td>
                        <td>
                            <div ng-if="adv.address.display_house===true">{{adv.address.street}}
                                {{adv.address.house_number}}
                            </div>
                            <div ng-if="adv.address.display_house===false" class="alert alert-warning" role="alert">
                                Street and house number were hidden
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>Building type:</td>
                        <td>{{adv.subcategory}}</td>
                    </tr>
                    <tr>
                        <td>Build year:</td>
                        <td>{{adv.props.build_year}}</td>
                    </tr>
                    <tr>
                        <td>Floor:</td>
                        <td>{{adv.floor}}</td>
                    </tr>
                    <tr>
                        <td>Rooms:</td>
                        <td>{{adv.rooms}}</td>
                    </tr>
                    <tr>
                        <td>Living area:</td>
                        <td>{{adv.living_area}}</td>
                    </tr>
                    <tr>
                        <td>Method of heating:</td>
                        <td>{{adv.energy.heating}}</td>
                    </tr>
                    <tr>
                        <td>Number of Garage / p:</td>
                        <td>{{adv.props.number_of_garage}}</td>
                    </tr>
                    <tr>
                        <td>Garage / parking place:</td>
                        <td>{{adv.props.garage}}</td>
                    </tr>
                    <tr>
                        <td>Pets:</td>
                        <td>{{adv.props.pets}}</td>
                    </tr>
                    <tr>
                        <td>Move in ready:</td>
                        <td>{{adv.move_date}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table class="table">
                    <tr class="info">
                        <th colspan="2">Finance</th>
                    </tr>
                    <tr class="info">
                        <td>Cold rent:</td>
                        <td>{{adv.cold_rent}}</td>
                    </tr>
                    <tr class="info" ng-if="adv.finance.ancillary_cost_included==1">
                        <td>Ancillary cost:</td>
                        <td>{{adv.finance.ancillary_cost}}</td>
                    </tr>
                    <tr class="info">
                        <td>Heating cost:</td>
                        <td>-</td>
                    </tr>
                    <tr class="info">
                        <td>Total rent:</td>
                        <td>-</td>
                    </tr>
                    <tr class="info">
                        <td>Caution money:</td>
                        <td>{{adv.finance.caution_money}}</td>
                    </tr>
                </table>

                <table class="table">
                    <tr class="warning">
                        <th colspan="2">Location</th>
                    </tr>
                    <tr class="warning">
                        <td>Walkway to public transport ca.:.</td>
                        <td>{{adv.address.distances.transport}}</td>
                    </tr>
                    <tr class="warning">
                        <td>Driving time to the next central station ca.:</td>
                        <td>{{adv.address.distances.driving}}</td>
                    </tr>
                    <tr class="warning">
                        <td>Driving time to the next Autobahn ca.:</td>
                        <td>{{adv.address.distances.autoban}}</td>
                    </tr>
                    <tr class="warning">
                        <td>Driving time to the next Airport ca.:</td>
                        <td>{{adv.address.distances.airport}}</td>
                    </tr>
                </table>

                <table class="table">
                    <tr class="success">
                        <th colspan="2">Energy</th>
                    </tr>
                    <tr class="success">
                        <td>Energy pass</td>
                        <td>{{adv.energy.pass}}</td>
                    </tr>
                    <tr class="success">
                        <td>Energy pass type</td>
                        <td>{{adv.energy.pass_type}}</td>
                    </tr>
                    <tr class="success">
                        <td>Energy consumption value</td>
                        <td>{{adv.energy.consumption}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div ng-if="adv.equipments!=null">
            <h4>Equipment</h4>
            <div class="row">

                <div class="col-md-2" ng-repeat="equipment in adv.equipments">
                    <span class="label label-primary">{{equipment}}</span>

                </div>

            </div>
        </div>

        <h4>Description</h4>
        <div ng-bind-html="adv.desc|to_trusted"></div>

    </div>
</div>