<div>
    <div ng-if="!env.advert">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-class="{'active':env.tab=='main'}">
                <a class="link" ng-click="env.tab='main'" translate>Main</a></li>

            <li role="presentation" ng-class="{'active':env.tab=='adverts'}">
                <a class="link" ng-click="displayAdvertsTab()" translate>Adverts</a></li>

            <li role="presentation" ng-class="{'active':env.tab=='payment'}">
                <a class="link" ng-click="env.tab='payment'" translate> Payment</a>
            </li>
            <li role="presentation" ng-class="{'active':env.tab=='history'}">
                <a class="link" ng-click="displayHistoryTab()" translate>History</a></li>
        </ul>


        <div class="tab-content" style="padding: 5px">
            <div role="tabpanel" class="tab-pane active" ng-if="env.tab=='main'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Account ID</strong></div>
                            <div class="col-md-6 text-right">{{user.id}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Account type</strong></div>
                            <div class="col-md-6 text-right">
                                <span ng-if="user.group_id==2" translate>Private</span>
                                <span ng-if="user.group_id==3" translate>Business</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Status</strong></div>
                            <div class="col-md-6 text-right">
                                <span ng-if="user.status=='active'" translate>Active</span>
                                <span ng-if="user.status=='wait_approve'"
                                      translate>Wait for approve</span>
                                <span ng-if="user.status=='blocked'" translate>Blocked</span>
                                <span ng-if="user.status=='email_confirmation'" translate>Email confirmation</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Login email</strong></div>
                            <div class="col-md-6 text-right">{{user.email}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Created on:</strong></div>
                            <div class="col-md-6 text-right">{{user.CreateDateWithTime}}</div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-6 text-left"><strong translate>AGB accepted:</strong></div>
                            <div class="col-md-6 text-right">{{user.CreateDateWithTime}}</div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="env.block_this_account_flag"
                                               ng-true-value="1" ng-false-value="0"> Block this account
                                    </label>
                                </div>

                            </div>
                            <div class="col-md-6 text-right">
                                <button ng-disabled="env.block_this_account_flag!='1'"
                                        class="btn btn-danger" translate>Block this account
                                </button>
                            </div>
                            <div class="col-md-12">
                                            <textarea class="form-control" ng-model="user.blocked_message"
                                                      ng-disabled="env.block_this_account_flag!='1'">

                                            </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" translate>Company data</h3>
                            </div>
                            <div class="panel-body form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" translate>Company name</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.company">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left" translate>Commercial
                                        register ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.commercial_id">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left"
                                           translate>Website</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.website">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left" translate>Street / House
                                        No.</label>
                                    <div class="col-sm-10 form-inline">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.address_street">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.address_number">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left" translate>Zip /
                                        City</label>
                                    <div class="col-sm-10 form-inline">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.address_zip">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.address_city">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left" translate>Additional
                                        address</label>
                                    <div class="col-sm-10 form-inline">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.address_additional">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left"
                                           translate>Country</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.commercial_country">

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" translate>Contact data</h3>
                            </div>
                            <div class="panel-body form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" translate>Title</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline">
                                            <input type="radio" ng-disabled="env.edititable==false"
                                                   ng-model="user.sex" value="male">
                                            {{'Mister'|translate}}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-disabled="env.edititable==false"
                                                   ng-model="user.sex" value="female">
                                            {{'Miss'|translate}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left"
                                           translate>Forename</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left"
                                           translate>Surname</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.surname">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left" translate>Email
                                        address</label>
                                    <div class="col-sm-10">
                                        <input type="email" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.contact_email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-left" translate>Phone
                                        number</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-disabled="env.edititable==false"
                                               class="form-control" ng-model="user.phone">
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-default" translate ng-click="env.edititable=true">Edit
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" ng-click="saveAccount(user)" translate
                                ng-disabled="env.edititable!=true">Save
                        </button>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-default" ng-disabled="user.status=='active'"
                                ng-click="activateAccount(user)" translate>Activate this customer
                        </button>
                    </div>
                    <div class="col-md-3   text-right form-inline">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="env.blocked_flag" ng-true-value="1"
                                       ng-false-value="0">Activate deletion
                            </label>
                        </div>
                        <button ng-click="deletedAccount(user)" ng-disabled="env.blocked_flag!=1"
                                style="margin-left:20px" type="button" class="btn btn-primary" translate>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" ng-if="env.tab=='adverts'">
                <div class="progress" ng-if="env.loading==true">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>

                <table class="table" ng-if="env.loading==false">
                    <tr>
                        <th></th>
                        <th translate>Advert ID</th>
                        <th translate>Advert type</th>
                        <th translate>Status</th>
                        <th translate>Transaction code</th>
                        <th translate>Created</th>
                        <th translate>End on</th>
                    </tr>
                    <tr ng-repeat="advert in env.adverts">
                        <td><input type="checkbox" checklist-model="env.selected_advs" checklist-value="advert.id"></td>
                        <td><a ng-click="setAdvert(advert)" class="link">{{advert.id}}</a></td>
                        <td>
                            {{advert.type}}
                        </td>
                        <td>

                            <span ng-if="advert.status=='payment_waiting'" translate>Payment waiting</span>
                            <span ng-if="advert.status=='active'" translate>Active</span>
                            <span ng-if="advert.status=='disabled'" translate>Disabled</span>
                            <span ng-if="advert.status=='expired'" translate>Expired</span>
                            <span ng-if="advert.status=='blocked'" translate>Blocked</span>
                            <span ng-if="advert.status=='approve_waiting'" translate>Approve waiting</span>

                        </td>
                        <td>-</td>
                        <td>{{advert.CreateDateWithTime}}</td>
                        <td>{{advert.DisableDateWithTime}}</td>
                    </tr>
                </table>

                <div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-click="activateSelectedAdvs(env.selected_advs)"
                                ng-disabled="env.selected_advs.length==0" translate>Activate
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-click="blockSelectedAdvs(env.selected_advs)"
                                ng-disabled="env.selected_advs.length==0" translate>Block
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" ng-click="deleteSelectedAdvs(env.selected_advs)"
                                ng-disabled="env.selected_advs.length==0" translate>Delete
                        </button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" ng-if="env.tab=='payment'">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" translate>Current overview</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4">
                                <h4>Package: Pack 20</h4>
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Max. package slots</td>
                                        <td style="width:20%;text-align: right">{{env.tariff.slots}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Package slots in use</td>
                                        <td style="width:20%;text-align: right">{{env.tariff.UsedSlots}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Package slots free</td>
                                        <td style="width:20%;text-align: right">{{env.tariff.FreeSlots}}</td>
                                    </tr>
                                    <tr style="height: 50px">
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Additional slots in use</td>
                                        <td style="width:20%;text-align: right">{{env.tariff.UsedAdditionalSlots}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Additional slots useable</td>
                                        <td style="width:20%;text-align: right">{{env.tariff.FreeAdditionalSlots}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <h4 translate>Advert type: Renting</h4>
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Adverts currently:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.rent.total}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Waiting for payment:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.rent.payment_waiting}}</td>
                                    </tr>

                                    <tr style="height: 50px">
                                        <td colspan="2"></td>
                                    </tr>

                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Advert active:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.rent.active}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Advert disabled:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.rent.disabled}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Advert expired:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.rent.expired}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Advert blocked</td>
                                        <td style="width:20%;text-align: right">{{env.stat.rent.blocked}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <h4 translate>Advert type: Selling</h4>
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Adverts currently:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.sale.total}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Waiting for payment:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.sale.payment_waiting}}</td>
                                    </tr>

                                    <tr style="height: 50px">
                                        <td colspan="2"></td>
                                    </tr>

                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Advert active:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.sale.active}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Advert disabled:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.sale.disabled}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Advert expired:</td>
                                        <td style="width:20%;text-align: right">{{env.stat.sale.expired}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width:80%;text-align: left" translate>Advert blocked</td>
                                        <td style="width:20%;text-align: right">{{env.stat.sale.blocked}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" translate>Buy subscription</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table tariffs table-hover">
                                <tr>
                                    <th colspan="2">
                                        <div class="package" translate>Package</div>
                                    </th>
                                    <th>
                                        <div class="slots" translate>Slots per month</div>
                                    </th>
                                    <th>
                                        <div class="price" translate>Price per month</div>
                                    </th>
                                    <th class="last">
                                        <div class="extra" translate>Each extra slot</div>
                                    </th>
                                </tr>
                                <tr ng-repeat="tariff in env.tariffs" ng-click="model.type_id=tariff.id">
                                    <td class="first"><input type="radio" ng-model="model.type_id" value="{{tariff.id}}">
                                    </td>
                                    <td>
                                        <div class="package" translate>{{tariff.name}}</div>
                                    </td>
                                    <td>
                                        <div class="slots">{{tariff.slots}}</div>
                                    </td>
                                    <td>
                                        <div class="price">{{tariff.price| currency:'€'}}</div>
                                    </td>
                                    <td class="last">
                                        <div class="extra">+ {{tariff.additional| currency:'€'}}</div>
                                    </td>
                                </tr>
                            </table>

                            <hr>
                            <div class="alert alert-warning" role="alert" ng-if="env.tariff!=null">Please note that the new
                                subscription will work after your current subscription runs out.
                            </div>


                            <div class="alert alert-warning" role="alert" ng-if="env.tariff!=null">
                                At the moment your current subscription (Pack 20) is valid to: <strong>12.08.2016</strong>
                            </div>
                            <div class="alert alert-warning" role="alert" ng-if="env.tariff!=null">It will be automatically
                                extended if it will not be terminated
                            </div>

                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button type="button" class="btn btn-primary" ng-if="env.tariff!=null" translate>End
                                        subscription
                                    </button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button type="button"
                                            ng-disabled="model.type_id==null"
                                            ng-click="buyTariff(model.type_id)"
                                            class="btn btn-primary" translate>Buy subscription
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" ng-if="env.tab=='history'">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Account ID</strong></div>
                            <div class="col-md-6 text-right">{{user.id}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Account type</strong></div>
                            <div class="col-md-6 text-right">
                                <span ng-if="user.group_id==2" translate>Private</span>
                                <span ng-if="user.group_id==3" translate>Business</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Status</strong></div>
                            <div class="col-md-6 text-right">
                                <span ng-if="user.status=='active'" translate>Active</span>
                                <span ng-if="user.status=='wait_approve'"
                                      translate>Wait for approve</span>
                                <span ng-if="user.status=='blocked'" translate>Blocked</span>
                                <span ng-if="user.status=='email_confirmation'" translate>Email confirmation</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Login email</strong></div>
                            <div class="col-md-6 text-right">{{user.email}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left"><strong translate>Created on:</strong></div>
                            <div class="col-md-6 text-right">{{user.CreateDateWithTime}}</div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-6 text-left"><strong translate>AGB accepted:</strong></div>
                            <div class="col-md-6 text-right">{{user.CreateDateWithTime}}</div>
                        </div>-->
                        <hr>
                        <div><strong translate>Status description</strong></div>
                        <div class="row">
                            <div class="col-md-6 text-left" translate>Waiting for email confirmation</div>
                            <div class="col-md-6 text-right" translate>The user has to click on the activation link which he
                                had received to his login email address
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left" translate>Waiting for approve</div>
                            <div class="col-md-6 text-right" translate>Immo support team have to check the account details
                                and decide to activate or to block this account
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 text-left" translate>Active</div>
                            <div class="col-md-6 text-right" translate>Immo support team had checked the account details
                                and activated this account
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 text-left" translate>Blocked</div>
                            <div class="col-md-6 text-right" translate>Immo support team had checked the account details
                                and blocked this account
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="height:50px">
                                <div class="col-md-6  text-left" translate>
                                    Account history
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-primary" ng-click="updateEventsLog()" translate>Refresh</button>
                                </div>


                            </div>
                            <div class="panel-body">
                                <div class="progress" ng-if="!user.events_log">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                </div>

                                <table class="table" ng-if="user.events_log">
                                    <tr ng-repeat="event in user.events_log">
                                        <td>{{event.DateWithTime}}</td>
                                        <td ng-class="{'system-type':event.type=='system','initials-type':event.type=='initials','owner-type':event.type=='owner','mail-type':event.type=='mail'}">
                                            {{event.type}}
                                        </td>
                                        <td>{{event.FullDesc}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>



    <div class="col-md-12" ng-if="env.advert">
        <div class="panel panel-default">
            <div class="panel-heading" style="height:40px">
                <div class="col-md-6  text-left" translate>
                    Advert  details
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-xs" ng-click="closeAdvert()" translate>Close</button>
                </div>

            </div>
            <div class="panel-body">
                <adv-preview  adv="env.advert" user="user"></adv-preview>

            </div>
        </div>


    </div>
</div>