html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

div.alert a {
    text-decoration: underline;
}

#login {
    height: auto;
    padding: 20px;
}

#login div.hide {
    display: none
}

#login div.show {
    display: block
}

#login span.close {
    top: 10px;
    position: absolute;
    right: 10px;
}

div.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 60%
}

div.login-form div.form-group {
    height: 50px
}

div.login-form button {
    margin-left: 30px;
}

#news p.header {
    text-decoration: underline;
}

#news p.desc {
    white-space: pre-wrap
}

#news p.date {
    font-weight: bold;
}

#news div.post {
    margin-bottom: 30px;
    overflow: hidden;
}

#head {
    padding: 10px;

}

#head a {
    color: #51555D;
}

#head ul.user-menu {
    float: right;
    margin-left: 30px;
    list-style-type: none;
}

#head ul.user-menu li {
    width: 60px;
    font-size: 14px;
    float: left;
}

#head ul.main-menu {
    list-style-type: none;
    float: right
}

#head ul.main-menu li {
    float: left;
    width: 90px;
    text-align: right;
    font-size: 18px
}

#head h1 {
    width: 15%;
    margin: 0 auto;
    padding: 50px;
    color: #ffffff;
    padding-bottom: 0px;
}

#head div.logo img {
    width: 150px;
}

#main-menu {
    background-color: #4472c4;
    height: 80px;
}

#main-menu div.row {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    height: 80px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
}

#main-menu div.item {
    height: 80px
}

#main-menu a {
    color: #ffffff;
    position: absolute;
    bottom: 0;
}

#content {
    margin: 30px;
    min-height: 65%
}

#content h4 {
    border-bottom: 3px solid #00b3ee;
    font-weight: bold;
}

#footer-menu {
    background-color: #51555D;
    color: #F2F2F2;
    padding: 30px;
}

#footer-menu a {
    color: #C6D7EB;
}

#footer-menu a:hover {
    color: #6FDA44;
}

#footer-menu h4 {
    text-align: center;
    font-weight: bold;
}

#footer-menu hr {
    width: 60%;
    height: 4px;
}

#footer-menu ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 330px
}

#footer-menu li {
    float: left;
    width: 70px;
    text-align: center;
}

#content div.panel-heading {
    text-transform: uppercase;
}

.link {
    cursor: pointer;
}

table.adv tr.blocked :first-child {
    background-color: red;
    color: white;
    text-transform: uppercase;
}

table.adv tr.blocked :last-child {
    color: red;
}

table.adv tr.expired :first-child {
    background-color: rosybrown;
    color: white;
    text-transform: uppercase;
}

table.adv tr.expired :last-child {
    color: rosybrown;
}

table.adv tr.disabled :first-child {
    background-color: orange;
    color: white;
    text-transform: uppercase;
}

table.adv tr.disabled :last-child {
    color: orange;
}

table.adv tr.active :first-child {
    background-color: darkseagreen;
    color: white;
    text-transform: uppercase;
}

table.adv tr.active :last-child {
    color: darkseagreen;
}

table.adv tr.payment_waiting :first-child {
    background-color: blue;
    color: white;
    text-transform: uppercase;
}

table.adv tr.payment_waiting :last-child {
    color: blue;
}

table.adv tr.approve_waiting :first-child {
    background-color: blue;
    color: white;
    text-transform: uppercase;
}

table.adv tr.approve_waiting :last-child {
    color: blue;
}

#watch h3 {
    text-align: center;
    max-height: 52px;
    overflow: hidden
}

#watch table {
    width: 100%
}

#watch tr :first-child {
    width: 50%;
    text-align: left
}

#watch tr :last-child {
    width: 50%;
    text-align: right
}

#watch td button {
    width: 100% !important;
    text-align: center !important;
}

#watch div.thumbnail {
    height: 410px
}

#watch div.thumbnail h3 {
    height: 27px;
    overflow: hidden;
}

#watch div.disable h3 {
    opacity: 0.4;
}

#watch div.disable div.caption {
    opacity: 0.4;
}

#watch div.disable div.image {
    opacity: 0.4;
}

#watch div.adv {
    margin-bottom: 5px
}

#photo-block div.main {
    padding: 0px;
    background-color: #eeeeee;
    height: 500px;
    text-align: center;
    display: table-cell;

}

#photo-block div.main div.wrapper {
    padding: 0px;
    background-color: #eeeeee;
    height: 500px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#photo-block div.main div.center {
    margin-left: auto;
    margin-right: auto;
}

#photo-block div.main img {
    max-height: 500px;
    max-width: 100%;
    display: block;
    height: auto;
    cursor: pointer;
    visibility: hidden;
}

#photo-block div.preview {
    padding: 0px
}

#photo-block div.preview img {
    margin-top: 0;
    max-height: 90px;
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
}

#photo-block div.preview div.preview-item {
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
    border: 2px solid white;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}

#photo-block div.preview div.active {
    border: 2px solid red;
}

#photo-block div.preview div.preview-item div.center {
    margin: 0;
    text-align: center;
}

#photo-block div.navigate {
    position: absolute;
    width: 5%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: opacity 1s;
}

#photo-block div.navigate :hover {
    opacity: 0.8;
}

#photo-block div.back {
    background-image: url(../images/back.png);
}

#photo-block div.next {
    right: 0;
    background-image: url(../images/next.png);
}

div.disabled {
    opacity: 0.5;
}

div.equipment label.btn {
    margin: 20px;
}

.map {
    height: 400px;
}

div.search-bar ul li {
    float: left;
    list-style-type: none;
    margin-left: 20px
}

div.search-bar ul {
    float: left
}

div.search-bar label {
    float: left
}

ul.autocomplete {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding-left: 10px;
    max-height: 220px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    min-width: 300px;
    background-image: url(../images/vendors/desktop/powered_by_google_on_white.png);

}

ul.autocomplete li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

ul.autocomplete li:hover {
    background-color: lightgray;
}

ul.autocomplete li.active {
    background-color: lightgray;
}

li.disabled {
    opacity: 0.5;
}

textarea.desc {
    height: 100px !important;
}

#listing div.adv {
    height: 270px
}

table.tariffs td, table.tariffs th {
    border-top: none !important;
}

table.tariffs td {
    cursor: pointer;
}

table.tariffs th {
    border: none;
    border-bottom: solid 1px orange;
    border-right: solid 1px orange;
    text-align: center;
    padding: 0px;
}

table.tariffs th.last {
    border-bottom: solid 1px orange;
    border-right: none
}

table.tariffs td {
    border-right: solid 1px orange;
    text-align: center;
}

table.tariffs td.first, table.tariffs td.last {
    border-right: none;
    padding: 0px;
    vertical-align: middle;
}

table div {
    margin: 10px;
    font-weight: 100;
}

table td div.package {
    background-color: #fcf8e3;
}

table th div.package {
    background-color: #faebcc;
}

table td div.slots {
    background-color: #d9edf7;
}

table th div.slots {
    background-color: #bce8f1;
}

table td div.price {
    background-color: #dff0d8;
}

table th div.price {
    background-color: #d6e9c6;
}

table td div.extra {
    background-color: #f5f5f5;
}

table th div.extra {
    background-color: #ccc;
}

div.panel-body div.row {
    margin-left: 0px;
    margin-right: 0px;
}

.has-error-tariff {
    color: #a94442
}

table.preview td.header div.title {
    float: left;
    width: 80%;
    overflow: hidden;
    font-weight: bold;
    margin: 0px
}

table.preview td.header div.fav {
    float: right;
    width: 50px;
    margin: 0px
}

table.preview td.image {
    width: 200px
}

table.preview td.image img {
    width: 200px
}

table.preview td.element {
    width: 50%
}

table.preview td.value {
    text-align: right
}

table.preview td.private_account {
    text-align: center;
    background-color: #FFF2CC;
    font-weight: bold
}

table.preview td.business_account {
    text-align: center;
    background-color: #FBE5D6;
    font-weight: bold
}

table.table div.preview {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px;
}

table.table div.preview img {
    margin-top: 0;
    max-height: 180px;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}

table.table div.preview div.preview-item {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}

table.table div.preview div.preview-item div.center {
    margin: 0;
    text-align: center;
}

div.thumbnail div.preview {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 200px;
}

div.thumbnail div.preview img {
    margin-top: 0;
    max-height: 180px;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
}

div.thumbnail div.preview div.preview-item {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
}

div.thumbnail div.preview div.preview-item div.center {
    margin: 0;
    text-align: center;
}

/**
FIX to autocomplete directive
 */
div.pac-container {
    z-index: 11111
}

/** Advert Form **/
#advert-form div.container {
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#advert-form h4 {
    margin-bottom: 30px;
    border-bottom-color: #27BDBE
}

#advert-form div.form-group {
    margin: 30px;
}

#advert-form label {
    color: gray;
    text-align: left;
    display: block;
}

#advert-form div.adv-type {
    padding: 20px
}

#advert-form div.adv-type li {
    background-color: #93CDDD;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 20px 129px 20px 129px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

#advert-form div.adv-type li.active {
    background-color: #31859C;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5)
}

#advert-form div.category {
    text-align: center;
    padding: 10px;
    padding-top: 0;
}

#advert-form div.category div {

}

#advert-form div.category ul, #advert-form div.adv-type ul {
    list-style-type: none;
    padding: 0;
    float: left;
    width: 50%
}

#advert-form div.category ul li {
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color: #93CDDD;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

#advert-form div.category ul li.active {
    background-color: #31859C;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5)

}

#advert-form div.category ul li.first {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    text-align: center;
    cursor: default;
    box-shadow:none;
}

#advert-form div.left {
    float: left;
    width: 47%;
    margin-right: 15px
}

#advert-form div.right {
    float: left;
    width: 47%;
    margin-left: 15px
}

#advert-form ul.select {
    list-style-type: none;
    height: 50px;
    padding-left: 0;
}

#advert-form ul.select li {
    float: left;
    width: 200px;
    background-color: #93CDDD;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom:5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: #ffffff;
}

#advert-form ul.select li.active {
    background-color: #31859C;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5)
}


.btn, .btn-lg{
    border-radius: 0!important;
}

.animation { -webkit-transition: 1s;transition: 1s }

.animation.ng-enter-stagger,
.animation.ng-leave-stagger{
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition-duration:0;
    transition-duration:0;
}

.animation.ng-leave { opacity: 1; }
.animation.ng-leave.ng-leave-active { opacity: 0; }

.animation.ng-enter { opacity: 0; }
.animation.ng-enter.ng-enter-active { opacity: 1; }