#announcement textarea,
#help-desk textarea,
#mail-templates textarea
{
    height:400px;
}

#announcement div.counter,
#help-desk div.counter
{
    color:lightgrey;
    font-size: 12px;
}

#administration button,
#mail-templates button{
    width:150px
}
#mail-templates table.information{
    width:100%;
}
#mail-templates hr{
    margin-bottom:1px;
}
#mail-templates div.titles div.header{
    border-bottom: 2px solid #5B9BD5;
    margin-bottom:10px;
}
#mail-templates div.titles div.header div.desc{
   padding:0;
    text-align: left;
}
#mail-templates div.titles div.header div.type{
    padding:0;
    text-align: right;
    font-weight: bold;
}

#mail-templates table td:first-child{
    font-weight: bold;
}

td.system-type{
    text-transform: uppercase;
    color:#c55a11;
}
td.mail-type{
    text-transform: uppercase;
    color:#4472c4;
}
td.owner-type{
     text-transform: uppercase;
     color:#b9509c;
 }

td.initials-type{
    text-transform: uppercase;
    color: #70ad47;
}


span.status.active{
    padding:5px;
    background-color: #A9d18E;
}

span.status.approve_waiting{
    padding:5px;
    background-color: #A9d18E;
}


span.status.blocked{
    padding:5px;
    background-color: red;
}

span.status.expired{
    padding:5px;
    background-color: #ff7b76;
}

span.status.disabled{
    padding:5px;
    background-color: grey;
}

span.status.payment_waiting{
    padding:5px;
    background-color: #141780;
}

