<div ng-if="!env.loading" id="help-desk">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" translate>Instructions</div>
            <div class="panel-body">
                <div>
                    <button type="button" class="btn btn-default" ng-click="addInstruction()" translate>Add
                        instruction
                    </button>
                </div>
                <div style="margin-top:20px" ng-if="env.display_instruction_form">
                    <hr>
                    <form name="instruction_form">
                        <div class="form-group">
                            <input type="text" required ng-model="model_instruction.title" class="form-control"
                                   placeholder="{{'Title'|translate}}">
                        </div>

                        <div class="form-group">
                            <textarea ng-model="model_instruction.desc" maxlength="5000" placeholder="{{'Text'|translate}}"
                                      class="form-control" required></textarea>
                            <div class="counter">
                                <text-counter text="model_instruction.desc" reverse="true" max-length="5000"></text-counter>
                                {{' characters left'|translate}}
                            </div>
                        </div>
                        <div class="btn-group">

                            <button type="button" class="btn btn-primary" ng-disabled="instruction_form.$invalid"
                                    ng-click="saveInstruction(model_instruction)" translate>
                                <span class=" glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Save
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="cancelInstruction()" translate>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Cancel
                            </button>

                        </div>
                    </form>
                    <hr>
                </div>

                <div>
                    <div ng-repeat="instruction in instructions" class="checkbox">

                        <label>
                            <input type="checkbox" checklist-model="selected.instructions" checklist-value="instruction"> <a ng-click="editInstruction(instruction)">{{instruction.title}}</a>

                        </label>
                    </div>
                </div>


                <div ng-if="selected.instructions.length>0">
                    <button type="button" class="btn btn-danger" ng-click="deleteSelectedInstructions()" translate>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Delete selected
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading" translate>FAQ‘s</div>
            <div class="panel-body">
                <div>
                    <button type="button" class="btn btn-default" ng-click="addFaq()" translate>Add
                        faq
                    </button>
                </div>
                <div style="margin-top:20px" ng-if="env.display_faq_form">
                    <hr>
                    <form name="faq_form">
                        <div class="form-group">
                            <input type="text" required ng-model="model_faq.title" class="form-control"
                                   placeholder="{{'Title'|translate}}">
                        </div>

                        <div class="form-group">
                            <textarea ng-model="model_faq.desc" maxlength="5000" placeholder="{{'Text'|translate}}"
                                      class="form-control" required></textarea>
                            <div class="counter">
                                <text-counter text="model_faq.desc" reverse="true" max-length="5000"></text-counter>
                                {{' characters left'|translate}}
                            </div>
                        </div>
                        <div class="btn-group">

                            <button type="button" class="btn btn-primary" ng-disabled="faq_form.$invalid"
                                    ng-click="saveFaq(model_faq)" translate>
                                <span class=" glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Save
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="cancelFaq()" translate>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Cancel
                            </button>

                        </div>
                    </form>
                    <hr>
                </div>

                <div>
                    <div ng-repeat="faq in faqs" class="checkbox">

                        <label>
                            <input type="checkbox" checklist-model="selected.faqs" checklist-value="faq"> <a ng-click="editFaq(faq)">{{faq.title}}</a>

                        </label>
                    </div>
                </div>


                <div ng-if="selected.faqs.length>0">
                    <button type="button" class="btn btn-danger" ng-click="deleteSelectedFaqs()" translate>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Delete selected
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="progress" ng-if="env.loading">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>