<h4 translate>Address</h4>
<div class="form-group">
  <label class="col-sm-3 control-label" translate>Walkway to public transport ca.</label>
  <div class="col-sm-9">
    <input type="number" class="form-control short" placeholder="{{'minutes'|translate}}"
           ng-model="model.address.distances.transport" name="distances_transport" min="1">
  </div>
</div>


<div class="form-group">
  <label class="col-sm-3 control-label" translate>Driving time to the next central station ca.</label>
  <div class="col-sm-9">
    <input type="number" class="form-control short" placeholder="{{'minutes'|translate}}"
           ng-model="model.address.distances.driving" name="distances_driving" min="1">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label" translate>Driving time to the next Autobahn ca.</label>
  <div class="col-sm-9">
    <input type="number" name="distances_autoban" class="form-control short" placeholder="{{'minutes'|translate}}"
           ng-model="model.address.distances.autoban" min="1">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label" translate>Driving time to the next Airport ca.</label>
  <div class="col-sm-9">
    <input type="number" class="form-control short" placeholder="{{'minutes'|translate}}"
           ng-model="model.address.distances.airport" name="distances_airport" min="1">
  </div>
</div>