<div class="form-group">
  <label class="control-label col-sm-3" translate>Photos</label>

  <div  style="overflow: auto;" class="col-sm-9">
    <div id="upload_trigger" ng-if="model.photos.length<12">
      <button type="button" class="btn btn-default" ngf-select="uploadFiles($files)" multiple ngf-max-files="12"
              ngf-max-size="6MB"
              accept="image/*" translate><span class="glyphicon glyphicon-upload"></span> Upload photos
      </button>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="preview" style="width:200px;height:200px;position: relative;float:left"
       ng-repeat="photo in model.photos">
    <button ng-click="removePhoto($index)" type="button" class="btn btn-danger"
            style="position: absolute;left: 155px;top: 5px;">
      <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <div class="preview-item" style="width:200px;height:200px;">

      <div class="center">
        <img style="max-height: 190px;max-width:190px" ng-src="{{photo.preview}}">
      </div>
    </div>
  </div>

  <br style="clear: both;">
  <div class="progress" ng-if="env.progress >= 0 && env.upload_files==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
         aria-valuemin="0" aria-valuemax="100" style="width:100%">
      <span class="sr-only">45% Complete</span>
    </div>
  </div>

  <div class="alert alert-warning" role="alert" ng-if="model.photos.length==12" translate>You can upload only 12
    photos
  </div>
</div>