<div>
    <ol class="breadcrumb">
        <li><a href="/" translate>Home</a></li>
        <li><a ui-sref="my-adv" class="link" translate>My advertisements</a></li>
        <li class="active" translate>Edit advert {{model.id}}</li>
    </ol>

    <div class="panel panel-danger" ng-if="env.react==1">
        <div class="panel-heading">
            <h3 class="panel-title" translate>BLOCKED Advert - {{model.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-7">
                <h4 translate>Your advert was reported and blocked</h4>

                <div ng-bind-html="model.blocked_event.message|to_trusted"></div>
            </div>
            <div class="col-md-4">
                <div class="alert alert-danger" role="alert" translate>Please react on this advert otherwise it will be
                    automatically deleted
                </div>

                <table style="width: 100%">
                    <tr>
                        <td translate>Created on :</td>
                        <td>{{model.CreateDateWithTime}}</td>
                    </tr>
                    <tr>
                        <td translate>Ends on :</td>
                        <td>{{model.DisableDateWithTime}}</td>
                    </tr>
                    <tr>
                        <td translate>If no react, then: <br>
                            Deletion on:
                        </td>
                        <td>{{model.BlockedDeleteDateWithTime}}</td>
                    </tr>
                </table>

            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" ng-click="env.display_form=true" translate>Edit this
                    Advert
                </button>
                <br><br>
                <br><br>
                <button type="button" class="btn btn-danger" ng-click="deleteAdvert(adv)" translate>Delete this Advert
                </button>
            </div>
        </div>
    </div>

    <div ng-if="env.react==undefined || (env.react==1 && env.display_form==true)">


        <adv-form ng-if="env.action=='form'" model="model"  on-save="save"></adv-form>

        <div ng-if="env.action=='preview'">
            <div class="panel panel-default">
                <div class="panel-body text-right">
                    <button class="btn btn-default" type="button" ng-click="backToPayment()" translate>Back</button>

                </div>
            </div>
            <adv-preview  adv="model"  user="$parent.user" hide-contact-form="true"></adv-preview>
        </div>
        <div  ng-if="env.action=='payment'" ng-include="'/apps/frontApp/adv/create/payment.html'"></div>

    </div>
</div>

