<div class="progress" ng-if="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div  ng-if="env.loading==false">
    <ol class="breadcrumb">
        <li><a href="/" translate>Home</a></li>
        <li><a ui-sref="my-adv" class="link" translate>My advertisements</a></li>
        <li class="active" translate>Edit advert {{adv.id}}</li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" translate>EDIT Advert - {{adv.id}}</h3>
        </div>
        <div class="panel-body">
            <form name="adv_form" class="form-horizontal">
                <div class="alert alert-warning" role="alert" translate>
                    Here you can make some changes on your advert. <br>
                    Due to technical reasons not all parameters can be changed.<br>
                    Thanks for understanding.
                </div>

                <div style="border-bottom:3px solid #00b3ee;height:30px;margin-bottom: 30px" class="row">
                    <label class="col-sm-2" style="font-size: 18px;padding-left:0px;font-weight: bold" translate>Advert
                        type</label>

                    <div class="col-sm-10">
                        {{adv.type}} - {{env.category_name}}
                    </div>
                </div>

                <div ng-include="'apps/core/adv/tpl/edit/rentFlatForm.html'"  ng-if="model.category==1 && model.type=='rent'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/rentHouseForm.html'" ng-if="model.category==2 && model.type=='rent'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/rentGarageForm.html'" ng-if="model.category==3 && model.type=='rent'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/rentOfficeForm.html'" ng-if="model.category==4 && model.type=='rent'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/rentHotelForm.html'" ng-if="model.category==6 && model.type=='rent'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/rentHallForm.html'" ng-if="model.category==7 && model.type=='rent'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/rentRetailForm.html'" ng-if="model.category==8 && model.type=='rent'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/rentCommercialLandForm.html'" ng-if="model.category==9 && model.type=='rent'"></div>

                <div ng-include="'apps/core/adv/tpl/edit/saleFlatForm.html'"  ng-if="model.category==1 && model.type=='sale'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/saleHouseForm.html'" ng-if="model.category==2 && model.type=='sale'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/saleGarageForm.html'" ng-if="model.category==3 && model.type=='sale'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/saleOfficeForm.html'" ng-if="model.category==4 && model.type=='sale'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/saleBuildingForm.html'" ng-if="model.category==5 && model.type=='sale'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/saleHotelForm.html'" ng-if="model.category==6 && model.type=='sale'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/saleHallForm.html'" ng-if="model.category==7 && model.type=='sale'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/saleRetailForm.html'" ng-if="model.category==8 && model.type=='sale'"></div>
                <div ng-include="'apps/core/adv/tpl/edit/saleCommercialLandForm.html'" ng-if="model.category==9 && model.type=='sale'"></div>




                <div style="margin-bottom: 30px" class="row">
                    <h4 translate>Finish</h4>

                    <div class="form-group" ng-class="{ 'has-error': adv_form.agb.$invalid && env.submit==true }">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">

    <textarea class="form-control" style="height: 200px"
              disabled>{{env.agb}}</textarea> <br>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="agb" ng-model="model.agb"
                                       required> AGB accept?
                            </label>

                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" ng-show="env.error">This is error</div>


                    <div style="text-align: right">
                        <button class="btn btn-default" type="submit" translate ng-click="save(model, adv_form)" ng-disabled="env.submit===true">Save</button>
                    </div>


                </div>


            </form>
        </div>
    </div>


</div>
