<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">My advertisements</li>
</ol>

<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div class="row" ng-show="env.loading==false">
        <div class="col-md-3">
            <left-menu></left-menu>
        </div>

    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading" style="height:50px">
                <select ng-model="env.order" style="float:right;width:300px" class="form-control">
                    <option value="price_up">Price upward</option>
                    <option value="price_down">Price downward</option>
                    <option value="created_up">Created upward</option>
                    <option value="created_down">Created downward</option>
                </select>

                <h3 class="panel-title"  style="float:left">My Advertisements</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-2">
                            Show
                        </div>
                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio"   ng-model="env.filters.type" value="all"> All
                            </label>
                        </div>

                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio"   ng-model="env.filters.type" value="rent"> Renting
                            </label>
                        </div>

                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio"  ng-model="env.filters.type" value="sell"> Selling
                            </label>
                        </div>

                    </div>


                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom<br>1"  >
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Page description
                        </button>
                    </div>
                </div>

                <div ng-show="env.filters.type!='sell'">
                <h4>Renting</h4>
                <div class="row" ng-repeat="adv in env.advs.rent">
                    <div class="col-md-11">
                        <table class="table adv">
                            <tr>
                                <td rowspan="4" style="width: 200px"><a ui-sref="adv({id:adv.id})"><img style="width:200px;" ng-src="{{adv.photos[0]}}"  alt=""></a></td>
                                <td colspan="4"  style="background-color:lightblue;height:40px"><a ui-sref="adv({id:adv.id})">{{adv.title}}</a></td>
                                <td  colspan="2" style="background-color: lightblue;" class="text-right">{{adv.total_rent| currency:"€"}}</td>
                            </tr>
                            <tr>
                                <td class="text-left"  style="width: 15%">Area:</td>
                                <td class="text-right" style="border-right:1px solid lightblue;width: 15%">{{adv.area}} m2</td>
                                <td class="text-left" style="width: 25%">Created on:</td>
                                <td class="text-right"  style="border-right:1px solid lightblue;width: 25%" >{{adv.CreateDate}}</td>
                                <td class="text-left"  style="width: 20%">Visited</td>
                                <td class="text-right" style="width: 20%">{{adv.visited}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Rooms:</td>
                                <td class="text-right" style="border-right:1px solid lightblue">{{adv.rooms}}</td>
                                <td class="text-left">Ends on:</td>
                                <td class="text-right"  style="border-right:1px solid lightblue">{{adv.EndDate}}</td>
                                <td class="text-left"></td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="text-left">Floor/s:</td>
                                <td class="text-right" style="border-right:1px solid lightblue">{{adv.floor}} of {{adv.floors}}</td>
                                <td class="text-left">Deletion on:</td>
                                <td class="text-right"  style="border-right:1px solid lightblue">{{adv.DeleteDate}}</td>
                                <td class="text-left">On watchlist:</td>
                                <td class="text-right">{{adv.favorite}}</td>
                            </tr>
                            <tr class="{{adv.status}}">
                                <td class="text-center">{{adv.StatusStr}}</td>
                                <td colspan="6">This advert will be automatic activated when the payment process is finished.</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Extend</a></li>
                                <li><a href="#">Disable</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">React</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>

                <div ng-show="env.filters.type!='rent'">

                <h4>Selling</h4>
                <div class="row" ng-repeat="adv in env.advs.sell">
                    <div class="col-md-11">
                        <table class="table adv">
                            <tr>
                                <td rowspan="4" style="width: 200px"><img style="width:200px;" ng-src="{{adv.photos[0]}}"  alt=""></td>
                                <td colspan="4"  style="background-color:lightblue;height:40px">{{adv.title}}</td>
                                <td  colspan="2" style="background-color: lightblue;" class="text-right">{{adv.total_rent| currency:"€"}} </td>
                            </tr>
                            <tr>
                                <td class="text-left"  style="width: 15%">Area:</td>
                                <td class="text-right" style="border-right:1px solid lightblue;width: 15%">{{adv.area}} m2</td>
                                <td class="text-left" style="width: 25%">Created on:</td>
                                <td class="text-right"  style="border-right:1px solid lightblue;width: 25%" >{{adv.CreateDate}}</td>
                                <td class="text-left"  style="width: 20%">Visited</td>
                                <td class="text-right" style="width: 20%">{{adv.visited}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Rooms:</td>
                                <td class="text-right" style="border-right:1px solid lightblue">{{adv.rooms}}</td>
                                <td class="text-left">Ends on:</td>
                                <td class="text-right"  style="border-right:1px solid lightblue">{{adv.EndDate}}</td>
                                <td class="text-left"></td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td class="text-left">Floor/s:</td>
                                <td class="text-right" style="border-right:1px solid lightblue">{{adv.floor}} of {{adv.floors}}</td>
                                <td class="text-left">Deletion on:</td>
                                <td class="text-right"  style="border-right:1px solid lightblue">{{adv.DeleteDate}}</td>
                                <td class="text-left">On watchlist:</td>
                                <td class="text-right">{{adv.favorite}}</td>
                            </tr>
                            <tr class="{{adv.status}}">
                                <td class="text-center">{{adv.StatusStr}}</td>
                                <td colspan="6">This advert will be automatic activated when the payment process is finished.</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Extend</a></li>
                                <li><a href="#">Disable</a></li>
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">React</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>
