<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">My advertisements</li>
</ol>

<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div class="row" ng-show="env.loading==false">
    <div class="col-md-3">
        <div class="list-group">
            <a ui-sref="dashboard" ui-sref-active="active" class="list-group-item">
                Private Account <br>
                {{user.email}}
            </a>
            <a ui-sref="my-adv" ui-sref-active="active" class="list-group-item">My advertisements</a>
            <a ui-sref="my-watch-list" ui-sref-active="active" class="list-group-item">My watchlist</a>
            <a ui-sref="my-settings" ui-sref-active="active"  class="list-group-item">My settings</a>
            <a ui-sref="help" ui-sref-active="active" class="list-group-item">Help</a>
        </div>

        <div class="adv">ADV</div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading" style="height:50px">
                <select ng-model="env.order" style="float:right;width:300px" class="form-control">
                    <option value="price_up">Price upward</option>
                    <option value="price_down">Price downward</option>
                </select>

                <h3 class="panel-title"  style="float:left">My Watchlist</h3>
            </div>
            <div class="panel-body" id="watch">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-2">
                            Show
                        </div>
                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio"   ng-model="env.filters.type" value="all"> All
                            </label>
                        </div>

                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio"   ng-model="env.filters.type" value="rent"> Renting
                            </label>
                        </div>

                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio"  ng-model="env.filters.type" value="sell"> Selling
                            </label>
                        </div>

                    </div>



                </div>




                <div ng-show="env.filters.type!='sell'">
                    <h4>Renting</h4>
                    <div class="row" >
                        <div class="col-sm-5 col-md-3" style="height: 370px" ng-repeat="adv in env.advs|filter:{type:'rent'}|limitFromTo:((env.current_rent*8)-8):8">
                            <div class="thumbnail">
                                <h3><a href="">{{adv.title}}</a></h3>
                                <a href=""><img  ng-src="{{adv.photos[0]}}"  alt=""></a>
                                <div class="caption">
                                    <table>
                                        <tr>
                                            <td>Area:</td>
                                            <td >{{adv.area}} m2</td>
                                        </tr>
                                        <tr>
                                            <td>Rooms:</td>
                                            <td>{{adv.rooms}}</td>
                                        </tr>
                                        <tr>
                                            <td>Floor/s:</td>
                                            <td>{{adv.floor}} of {{adv.floors}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cold rent</td>
                                            <td>{{adv.floor}} of {{adv.floors}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button ng-disabled="adv.waiting==true" ng-click="deleteItem(adv)" type="button" class="btn btn-primary">Delete from watchlist</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div style="text-align: center">
                        <pagination
                                items-per-page="8"
                                total-items="env.advs.length"
                                ng-model="env.current_rent"
                                max-size="10"
                                boundary-links="true">
                        </pagination>
                    </div>

                </div>

                <div ng-show="env.filters.type!='rent'">

                    <h4>Selling</h4>
                    <div class="row">
                        <div class="col-sm-5 col-md-3" style="height: 370px" ng-repeat="adv in env.advs|filter:{type:'sell'}|limitFromTo:((env.current_sell*8)-8):8">
                            <div class="thumbnail">
                                <h3><a href="">{{adv.title}}</a></h3>
                                <a href=""><img  ng-src="{{adv.photos[0]}}"  alt=""></a>
                                <div class="caption">
                                    <table>
                                        <tr>
                                            <td>Area:</td>
                                            <td >{{adv.area}} m2</td>
                                        </tr>
                                        <tr>
                                            <td>Rooms:</td>
                                            <td>{{adv.rooms}}</td>
                                        </tr>
                                        <tr>
                                            <td>Floor/s:</td>
                                            <td>{{adv.floor}} of {{adv.floors}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cold rent</td>
                                            <td>{{adv.floor}} of {{adv.floors}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><button type="button" class="btn btn-primary">Delete from watchlist</button> </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center">
                            <pagination
                                    items-per-page="8"
                                    total-items="env.advs.length"
                                    ng-model="env.current_sell"
                                    max-size="10"
                                    boundary-links="true">
                            </pagination>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
