<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">My advertisements</li>
</ol>

<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div class="row" ng-show="env.loading==false">
    <div class="col-md-3">
        <left-menu></left-menu>
    </div>

    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading" style="height:50px">
                <select ng-model="env.order" style="float:right;width:300px" class="form-control">
                    <option value="price_up">Price upward</option>
                    <option value="price_down">Price downward</option>
                    <option value="created_up">Created upward</option>
                    <option value="created_down">Created downward</option>
                </select>

                <h3 class="panel-title"  style="float:left">My Watchlist</h3>
            </div>
            <div class="panel-body" id="watch">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-2">
                            Show
                        </div>
                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input type="radio"   ng-model="env.filters.type" value="all"> All
                            </label>
                        </div>

                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input ng-disabled="env.advs.rent.length==0" type="radio"   ng-model="env.filters.type" value="rent"> Renting
                            </label>
                        </div>

                        <div class="col-md-2">
                            <label class="radio-inline">
                                <input ng-disabled="env.advs.sell.length==0" type="radio"  ng-model="env.filters.type" value="sell"> Selling
                            </label>
                        </div>

                    </div>



                </div>




                <div ng-show="env.filters.type!='sell'  && env.advs.rent.length>0">
                    <h4>Renting</h4>

                    <div class="row" >
                        <div class="col-sm-5 col-md-3 adv"  ng-repeat="adv in env.advs.rent|limitFromTo:((env.current_rent*8)-8):(env.current_rent*8)">
                            <div class="thumbnail">
                                <h3><a ui-sref="adv({id:adv.id})">{{adv.title}}</a></h3>
                                <a ui-sref="adv({id:adv.id})"><img  ng-src="{{adv.photos[0]}}"  alt=""></a>
                                <div class="caption">
                                    <table>
                                        <tr>
                                            <td>Area:</td>
                                            <td >{{adv.area}} m2</td>
                                        </tr>
                                        <tr>
                                            <td>Rooms:</td>
                                            <td>{{adv.rooms}}</td>
                                        </tr>
                                        <tr>
                                            <td>Floor/s:</td>
                                            <td>{{adv.floor}} of {{adv.floors}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cold rent</td>
                                            <td>{{adv.floor}} of {{adv.floors}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button ng-disabled="adv.waiting==true" ng-click="deleteItem(adv)" type="button" class="btn btn-primary">Delete from watchlist</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div style="text-align: center" ng-show="env.advs.rent.length>8">
                        <pagination
                                items-per-page="8"
                                total-items="env.advs.rent.length"
                                ng-model="env.current_rent"
                                max-size="10"
                                boundary-links="true">
                        </pagination>
                    </div>

                </div>

                <div ng-show="env.filters.type!='rent' && env.advs.sell.length>0">

                    <h4>Selling</h4>
                    <div class="row">
                        <div class="col-sm-5 col-md-3"  ng-repeat="adv in env.advs.sell|limitFromTo:((env.current_sell*8)-8):(env.current_sell*8)">
                            <div class="thumbnail">
                                <h3><a href="">{{adv.title}}</a></h3>
                                <a href=""><img  ng-src="{{adv.photos[0]}}"  alt=""></a>
                                <div class="caption">
                                    <table>
                                        <tr>
                                            <td>Area:</td>
                                            <td >{{adv.area}} m2</td>
                                        </tr>
                                        <tr>
                                            <td>Rooms:</td>
                                            <td>{{adv.rooms}}</td>
                                        </tr>
                                        <tr>
                                            <td>Floor/s:</td>
                                            <td>{{adv.floor}} of {{adv.floors}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cold rent</td>
                                            <td>{{adv.floor}} of {{adv.floors}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><button type="button" class="btn btn-primary">Delete from watchlist</button> </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center" ng-show="env.advs.sell.length>8">
                            <pagination
                                    items-per-page="8"
                                    total-items="env.advs.sell.length"
                                    ng-model="env.current_sell"
                                    max-size="10"
                                    boundary-links="true">
                            </pagination>
                        </div>
                    </div>
                </div>

                <div ng-show="env.advs.rent.length==0 && env.advs.sell.length==0">
                    You watch-list is empty
                </div>

            </div>
        </div>
    </div>
</div>
