<div class="form-group">
    <label translate>Price per year in €</label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'From'|translate}}"  ng-model="env.search.query.price.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'To'|translate}}" ng-model="env.search.query.price.to">
        </div>
    </div>
</div>



<div class="form-group">
    <label translate>Total area in m<sup>2</sup></label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'From'|translate}}" ng-model="env.search.query.area.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'To'|translate}}" ng-model="env.search.query.area.to">
        </div>
    </div>
</div>

