<div class="form-group">
    <label>Cold rent in €</label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="From"  ng-model="env.search.query.cold_rent.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="To" ng-model="env.search.query.cold_rent.to">
        </div>
    </div>
</div>

<div class="form-group">
    <label>Living area in m<sup>2</sup></label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="From" ng-model="env.search.query.living_area.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="To" ng-model="env.search.query.living_area.to">
        </div>
    </div>
</div>

<div class="form-group">
    <label>Rooms</label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="From" ng-model="env.search.query.rooms.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="To"  ng-model="env.search.query.rooms.to">
        </div>
    </div>
</div>

<div class="form-group">
    <label>Floor</label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="From"  ng-model="env.search.query.floor.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="To"  ng-model="env.search.query.floor.to">
        </div>
    </div>
</div>