<div class="form-group">
    <label translate>Price per month in €</label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'From'|translate}}"  ng-model="env.search.query.price_per_month.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'To'|translate}}" ng-model="env.search.query.price_per_month.to">
        </div>
    </div>
</div>

<div class="form-group">
    <label translate>Price per m<sup>2</sup></label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'From'|translate}}" ng-model="env.search.query.price_per_m2.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'To'|translate}}" ng-model="env.search.query.price_per_m2.to">
        </div>
    </div>
</div>

<div class="form-group">
    <label translate>Total area in m<sup>2</sup></label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'From'|translate}}" ng-model="env.search.query.area.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'To'|translate}}" ng-model="env.search.query.area.to">
        </div>
    </div>
</div>


<div class="form-group">
    <label translate>Rooms</label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'From'|translate}}" ng-model="env.search.query.rooms.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'To'|translate}}"  ng-model="env.search.query.rooms.to">
        </div>
    </div>
</div>

<div class="form-group">
    <label translate>Number of floors</label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'From'|translate}}"  ng-model="env.search.query.floor.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'To'|translate}}"  ng-model="env.search.query.floor.to">
        </div>
    </div>
</div>

<div class="form-group">
    <label translate>Number of beds / guests</label>
    <div class="row">
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'From'|translate}}"  ng-model="env.search.query.beds.from">
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control" placeholder="{{'To'|translate}}"  ng-model="env.search.query.beds.to">
        </div>
    </div>
</div>