<table style="width:100%;border:2px solid black" class="table">

    <tr>
        <td rowspan="4" ng-if="model.MainPhoto">
            <div class="preview">
                <div class="preview-item">
                    <div class="center">
                        <img ng-src="{{model.MainPhoto.preview}}" alt="">
                    </div>
                </div>
            </div>
        </td>
        <td translate colspan="3" style="background-color: #DEECF8"><strong>{{model.title}}</strong></td>
    </tr>
    <tr>
        <td translate colspan="2" style="text-align: right;width: 30%">Plot area</td>
        <td translate style="text-align: right;width: 30%">Price per year</td>
    </tr>
    <tr>
        <td style="text-align: right;font-weight: bold" colspan="2">{{model.area}}</td>
        <td style="text-align: right;font-weight: bold">{{model.price}}</td>
    </tr>
    <tr style="border-top:solid 3px #00b3ee">
        <td colspan="3" style="text-align: center">
            <button translate class="btn-danger btn" ng-click="deleteAdvert()">Delete</button>
            <button translate class="btn-primary btn" ng-click="previewAdv()">Preview</button>
        </td>
    </tr>

    <tr>
        <td colspan="2" style="text-align: left" translate>Created on:</td>
        <td colspan="{{model.MainPhoto ? 2 : 1}}"  style="text-align: right">{{model.CreateDateWithTime}}</td>
    </tr>

    <tr>
        <td colspan="2" style="text-align: left" translate>Current status:</td>
        <td colspan="{{model.MainPhoto ? 2 : 1}}" style="text-align: right;color:red" translate><strong>Offline</strong>- not
            findable in advert search
        </td>
    </tr>

    <tr>
        <td colspan="2" style="text-align: left" translate>General information:</td>
        <td colspan="{{model.MainPhoto ? 2 : 1}}" style="text-align: right;color:#EE863F" translate>No payment receipt</td>
    </tr>
</table>