<div class="progress" ng-if="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>

<div class="row" ng-if="env.loading==false">
    <div ng-if="env.action=='subscription'">
        <div class="col-md-4">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" translate>Your current subscription</h3>
                </div>
                <div class="panel-body">
                    <table style="width: 100%" ng-if="env.tariff!=null">
                        <tr>
                            <td style="width: 50%;text-align: left" translate>Current Status:</td>
                            <td style="width: 50%;text-align: right;color:green" translate>Active</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;text-align: left" translate>Active from</td>
                            <td style="width: 50%;text-align: right">{{env.tariff.StartDate}}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;text-align: left" translate>Active to</td>
                            <td style="width: 50%;text-align: right">{{env.tariff.EndDate}}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;text-align: left" translate>Running out in</td>
                            <td style="width: 50%;text-align: right">{{env.tariff.LeftDays}}
                                <span ng-if="env.tariff.LeftDays>1" translate>Days</span>
                                <span ng-if="env.tariff.LeftDays==1" translate>Day</span>
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td style="width: 50%;text-align: left" translate>Ordered package</td>
                            <td style="width: 50%;text-align: right"><strong>{{env.tariff.tariff_details.title}}</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 50%;text-align: left" translate>Additional slots</td>
                            <td style="width: 50%;text-align: right"><strong>{{env.tariff.slots}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;text-align: left" translate>Monthly rate</td>
                            <td style="width: 50%;text-align: right">{{env.tariff.price|currency:'€'}}</td>
                        </tr>
                    </table>

                    <div class="alert alert-warning" role="alert" ng-if="env.tariff==null" translate>You have not active
                        subscription
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12" ng-if="env.tariff!=null">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" translate>Buy additional slot</h3>
                </div>
                <div class="panel-body">

                    <p translate>You can buy unlimited additional slots
                        to your subscription.
                        The price of each slot depends from
                        your booked package (see table on the
                        right).</p>
                    <p translate>But please note, that each additional
                        slot can only be used ONE time. So you
                        can only create ONE advertisement for
                        ONE additional slot.</p>
                    <p translate>
                        This means
                        advertisement, which was created via
                        an additional slot – this slot is also be
                        deleted and you have to buy a new
                        additional slot (of course only if you
                        need one more again).</p>

                    <table style="width: 100%">
                        <tr>
                            <td style="width: 70%;text-align: left" translate>Current additional slots in use</td>
                            <td style="width: 30%;text-align: right">{{env.tariff.UsedAdditionalSlots}}</td>
                        </tr>
                        <tr>
                            <td style="width: 70%;text-align: left" translate>Unused additional slots</td>
                            <td style="width: 30%;text-align: right">{{env.tariff.FreeAdditionalSlots}}</td>
                        </tr>
                        <tr>
                            <td style="width: 70%;text-align: left" translate>Buy additional slot</td>
                            <td style="width: 30%;text-align: right"><input type="number" class="form-control"
                                                                            ng-model="slot_form.number_of" min="1"></td>
                        </tr>
                        <tr>
                            <td style="width: 70%;text-align: left">Price <br>( {{slot_form.number_of}} x {{env.tariff.extra|currency:'€'}} )
                            </td>
                            <td style="width: 30%;text-align: right">{{env.tariff.extra*slot_form.number_of|currency:'€'}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right">
                                <button type="button"

                                        ng-click="buyAdditionalSlot()" class="btn btn-success" translate>Buy additional
                                    slot
                                </button>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
        <div class="col-md-8">

        <div class="col-md-12" ng-if="env.tariff!=null">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" translate>Current overview</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <h4>Package: {{env.tariff.tariff_details.title}}</h4>
                        <table style="width: 100%">
                            <tr>
                                <td style="width:80%;text-align: left" translate>Max. package slots</td>
                                <td style="width:20%;text-align: right">{{env.tariff.slots}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Package slots in use</td>
                                <td style="width:20%;text-align: right">{{env.tariff.usedPackageSlots}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Package slots free</td>
                                <td style="width:20%;text-align: right">{{env.tariff.freshPackageSlots}}</td>
                            </tr>
                            <tr style="height: 50px">
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Additional slots in use</td>
                                <td style="width:20%;text-align: right">{{env.tariff.usedExtraSlots}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Additional slots useable</td>
                                <td style="width:20%;text-align: right">{{env.tariff.freshExtraSlots}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4 translate>Advert type: Renting</h4>
                        <table style="width: 100%">
                            <tr>
                                <td style="width:80%;text-align: left" translate>Adverts currently:</td>
                                <td style="width:20%;text-align: right">{{env.stat.rent.total}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Waiting for payment:</td>
                                <td style="width:20%;text-align: right">{{env.stat.rent.payment_waiting}}</td>
                            </tr>

                            <tr style="height: 50px">
                                <td colspan="2"></td>
                            </tr>

                            <tr>
                                <td style="width:80%;text-align: left" translate>Advert active:</td>
                                <td style="width:20%;text-align: right">{{env.stat.rent.active}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Advert disabled:</td>
                                <td style="width:20%;text-align: right">{{env.stat.rent.disabled}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Advert expired:</td>
                                <td style="width:20%;text-align: right">{{env.stat.rent.expired}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Advert blocked</td>
                                <td style="width:20%;text-align: right">{{env.stat.rent.blocked}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <h4 translate>Advert type: Selling</h4>
                        <table style="width: 100%">
                            <tr>
                                <td style="width:80%;text-align: left" translate>Adverts currently:</td>
                                <td style="width:20%;text-align: right">{{env.stat.sale.total}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Waiting for payment:</td>
                                <td style="width:20%;text-align: right">{{env.stat.sale.payment_waiting}}</td>
                            </tr>

                            <tr style="height: 50px">
                                <td colspan="2"></td>
                            </tr>

                            <tr>
                                <td style="width:80%;text-align: left" translate>Advert active:</td>
                                <td style="width:20%;text-align: right">{{env.stat.sale.active}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Advert disabled:</td>
                                <td style="width:20%;text-align: right">{{env.stat.sale.disabled}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Advert expired:</td>
                                <td style="width:20%;text-align: right">{{env.stat.sale.expired}}</td>
                            </tr>
                            <tr>
                                <td style="width:80%;text-align: left" translate>Advert blocked</td>
                                <td style="width:20%;text-align: right">{{env.stat.sale.blocked}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" translate>Buy subscription</h3>
                </div>
                <div class="panel-body">

                    <table class="table tariffs table-hover">
                        <tr>
                            <th>
                                <div class="package" translate>Package</div>
                            </th>
                            <th>
                                <div class="slots" translate>Slots per month</div>
                            </th>
                            <th>
                                <div class="price" translate>Price per month</div>
                            </th>
                            <th class="last">
                                <div class="extra" translate>Each extra slot</div>
                            </th>
                        </tr>
                        <tr ng-repeat="tariff in env.tariffs" ng-click="env.selected_tariff=tariff" ng-class="{'success':tariff.id==env.selected_tariff.id}">
                            <td>
                                <div class="package">{{tariff.title}}</div>
                            </td>
                            <td>
                                <div class="slots">{{tariff.number_of_slots}}</div>
                            </td>
                            <td>
                                <div class="price">{{tariff.price| currency:'€'}}</div>
                            </td>
                            <td class="last">
                                <div class="extra">+ {{tariff.price_extra_slots| currency:'€'}}</div>
                            </td>
                        </tr>
                    </table>

                    <hr>
                    <div class="alert alert-warning" role="alert" ng-if="env.tariff!=null">Please note that the new
                        subscription will work after your current subscription runs out.
                    </div>


                    <div class="alert alert-warning" role="alert" ng-if="env.tariff!=null">
                        At the moment your current subscription ({{env.tariff.tariff_details.title}}) is valid to: <strong>{{env.tariff.EndDate}}</strong>
                    </div>
                    <div class="alert alert-warning" role="alert" ng-if="env.tariff!=null">It will be automatically
                        extended if it will not be terminated
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button type="button" class="btn btn-primary" ng-click="endSubscription()" ng-if="env.tariff!=null" translate>End
                                subscription
                            </button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button"
                                    ng-disabled="env.selected_tariff==null"
                                    ng-click="buyTariff()"
                                    class="btn btn-primary" translate>Buy subscription
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

    <div ng-if="env.action=='buy_tariff'">
        <div class="panel panel-default">
            <div class="panel-heading" translate>Buy subscription {{env.selected_tariff.title}}</div>
            <div class="panel-body">

                <div translate>Are you sure that you want to buy this subscription?</div>
                <p translate>Price: {{env.selected_tariff.price|currency:"€"}}</p>
                <payment-form tariff="env.selected_tariff" type="subscription" user="$parent.user"></payment-form>
            </div>
        </div>

    </div>

    <div ng-if="env.action=='buy_slot'">
        <div class="panel panel-default">
            <div class="panel-heading" translate>Buy additional slots: <strong>{{slot_form.number_of}}</strong></div>
            <div class="panel-body">

                <p translate>Price: {{env.tariff.extra*slot_form.number_of|currency:'€'}}</p>
                <payment-form slots="{{slot_form.number_of}}" type="slots" user="$parent.user" ></payment-form>
            </div>
        </div>

    </div>
</div>
