<div ng-init="initGoogleMap(model.lat, model.lng, true)">

  <h4>Basic Information</h4>

  <div ng-include="'/apps/core/adv/tpl/create/sections/address.html'"></div>


  <div class="form-group" ng-class="{ 'has-error': adv_form.plot_area.$invalid && env.submit==true }">
    <label class="control-label col-sm-3" translate>Plot area</label>
    <div class="col-sm-9">
      <div class="input-group ">
        <input type="number" min="1" class="form-control" ng-model="model.plot_area" name="plot_area" required>
        <span class="input-group-addon">m<sup>2</sup></span>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': adv_form.living_area.$invalid && env.submit==true }">
    <label class="control-label col-sm-3" translate>Living area</label>
    <div class="col-sm-9">
      <div class="input-group ">
        <input type="number" min="1" class="form-control" ng-model="model.living_area" name="living_area" required>
        <span class="input-group-addon">m<sup>2</sup></span>
      </div>
    </div>
  </div>


  <div class="form-group" ng-class="{ 'has-error': adv_form.rooms.$invalid && env.submit==true }">
    <label class="control-label col-sm-3" translate>Number of rooms</label>
    <div class="col-sm-9"><input type="number" min="1" class="form-control" placeholder="{{'Room/Rooms'|translate}}"
                                 ng-model="model.rooms" required name="rooms"></div>
  </div>


  <div class="form-group" ng-class="{ 'has-error': adv_form.floors.$invalid  && env.submit==true }">
    <label class="control-label col-sm-3" translate>Number of floors</label>
    <div class="col-sm-9">
      <input type="number" min="1" class="form-control" ng-model="model.floors" name="floors" required>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': adv_form.rent.$invalid  && env.submit==true }">
    <label class="control-label col-sm-3" translate>Cold rent</label>
    <div class="col-sm-9">
      <div class="input-group ">
        <input type="number" min="0" class="form-control" ng-model="model.price" required name="rent">
        <span class="input-group-addon">&euro;</span>
      </div>
    </div>
  </div>


  <div class="form-group" ng-class="{ 'has-error': adv_form.title.$invalid && env.submit==true }">
    <label class="control-label col-sm-3" translate>Title</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ng-model="model.title" name="title" required max="80" maxlength="80">
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': adv_form.desc.$invalid && env.submit==true }">
    <label class="control-label col-sm-3" translate>Description</label>
    <div class="col-sm-9">
      <textarea class="form-control desc" ng-model="model.desc" name="desc" maxlength="3000" required></textarea>
      <div>
        <text-counter text="model.desc" reverse="true" max-length="3000"></text-counter>
      </div>
    </div>
  </div>

  <div ng-include="'/apps/core/adv/tpl/create/sections/energy.html'"></div>

  <div ng-include="'/apps/core/adv/tpl/create/sections/photos.html'"></div>


  <div ng-include="'/apps/core/adv/tpl/create/sections/contacts.html'"></div>


  <h4 translate>Do you want get more information?</h4>

  <div class="form-group">
    <div class="adv-type">
      <ul>
        <li ng-click="setDisplayAdditionalInformation(true)"
            ng-class="{'active':env.display_additional_information==true}">Yes
        </li>
      </ul>

      <ul>
        <li ng-click="setDisplayAdditionalInformation(false)" ng-class="{'active':!env.display_additional_information}">
          No
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="env.display_additional_information">
    <div ng-include="'/apps/core/adv/tpl/create/sections/additionalAddress.html'"></div>

    <h4 translate>House type</h4>
    <div ng-include="'/apps/core/adv/tpl/create/sections/type.html'"></div>


    <h4 translate>Basic Information</h4>

    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Build year</label>

      <div class="col-sm-9">
        <input type="number" class="form-control" placeholder="{{'In year'|translate}}"
               ng-model="model.props.build_year" name="build_year" minlength="4" maxlength="4" min="1500">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" translate>All floors</label>

      <div class="col-sm-9">
        <input type="number" class="form-control" ng-model="model.floors">
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Number of garage/parking space</label>
      <div class="col-sm-9 ">
        <input type="number" class="form-control" ng-model="model.props.number_of_garage" min="0">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Type of garage/parking space</label>
      <div class="col-sm-9">
        <select class="form-control" ng-model="model.props.garage">
          <option value="Outdoor parking" translate>Outdoor parking</option>
          <option value="Carport" translate>Carport</option>
          <option value="Duplex" translate>Duplex</option>
          <option value="Garage" translate>Garage</option>
          <option value="Parking structure" translate>Parking structure</option>
          <option value="Underground car park" translate>Underground car park</option>
        </select>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Pets</label>
      <div class="col-sm-9">

        <ul class="select">
          <li ng-class="{'active' : model.props.pets=='Any'}"
              ng-click="model.props.pets = 'Any'">{{'Any'|translate}}
          </li>
          <li ng-click="model.props.pets = 'Allowed'"
              ng-class="{'active' : model.props.pets=='Allowed'}">{{'Allowed'|translate}}
          </li>
          <li ng-click="model.props.pets = 'Forbidden'"
              ng-class="{'active' : model.props.pets=='Forbidden'}">{{'Forbidden'|translate}}
          </li>
          <li ng-click="model.props.pets = 'By agreement'"
              ng-class="{'active' : model.props.pets=='By agreement'}">{{'By agreement'|translate}}
          </li>
        </ul>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Available from now on</label>
      <div class="col-sm-9">
        <div class="dropdown">
          <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown"
             data-target="#" href="">
            <div class="input-append"><input type="text" class="input-large form-control"
                                             data-ng-model="model.move_date">
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="env.move_date"
                            data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select',minView:'day' }"></datetimepicker>
          </ul>
        </div>

      </div>
    </div>

    <h4 translate>Finance</h4>

    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Ancillary cost(in &euro;)</label>
      <div class="col-sm-9">
        <input type="number" min="0" class="form-control" ng-model="model.finance.ancillary_cost">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Heating costs included in ancillary cost?</label>
      <div class="col-sm-9">
        <ul class="select">
          <li ng-click="model.finance.ancillary_cost_included = '1'"
              ng-class="{'active' : model.finance.ancillary_cost_included=='1'}">{{'Yes'|translate}}
          </li>
          <li ng-click="model.finance.ancillary_cost_included = '0'"
              ng-class="{'active' : model.finance.ancillary_cost_included=='0'}">{{'No'|translate}}
          </li>

        </ul>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Please enter the heating costs</label>
      <div class="col-sm-9">
        <input type="number" min="0" class="form-control" ng-model="model.finance.heating_cost"
               ng-disabled="model.finance.ancillary_cost_included==1">
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Total cost (in &euro;)</label>
      <div class="col-sm-9">
        <input type="number" min="0" class="form-control" ng-model="model.finance.total_cost">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Caution money (in &euro;)</label>
      <div class="col-sm-9">
        <input type="number" min="0" class="form-control" ng-model="model.finance.caution_money">
      </div>
    </div>


    <div ng-include="'/apps/core/adv/tpl/create/sections/additionalEnergy.html'"></div>
    <div ng-include="'/apps/core/adv/tpl/create/sections/equipment.html'"></div>

  </div>
</div>

