<div class="row" ng-init="initGoogleMap(model.lat, model.lng, true)">
    <h4 translate>Location</h4>
    <div class="col-md-5">

        <div class="form-group" ng-class="{ 'has-error': adv_form.address.$invalid && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Address</label>
            <div class="col-sm-10">
                <input type="text" ng-autocomplete ng-model="env.address.value" details="env.address.details"
                       name="address"
                       class="form-control" id="address_field" ng-required="model.id==undefined">

            </div>
        </div>



        <div class="form-group"
             ng-class="{ 'has-error': (adv_form.street.$invalid || adv_form.house_number.$invalid) && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Street, House number</label>
            <div class="col-sm-10 form-inline">
                <input type="text" ng-model="model.address.street" style="width:70%" class="form-control"
                       ng-disabled="!model.address.city"
                       placeholder="{{'Street'|translate}}" name="street" required>
                <input type="text" ng-model="model.address.house_number" class="form-control"
                       ng-disabled="!model.address.city"
                       placeholder="{{'House number'|translate}}" name="house_number" required>
            </div>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': (adv_form.zip.$invalid || adv_form.city.$invalid) && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Zip, City</label>
            <div class="col-sm-10 form-inline">
                <input type="text" ng-model="model.address.zip" class="form-control" placeholder="{{'Zip'|translate}}"
                       ng-disabled="!model.address.city"
                       name="zip" required >
                <input type="text" ng-model="model.address.city" style="width:70%" class="form-control" name="city"
                       ng-disabled="!model.address.city"
                       required
                       placeholder="{{'City'|translate}}">
            </div>
        </div>

    </div>

    <div class="col-md-5">
        <div id="map" style="height: 400px;width: 100%;"></div>
    </div>
    <div class="col-md-2">
        <div class="alert alert-warning" role="alert" translate>
            Based on your selection you will receive the corresponding template
        </div>
    </div>
</div>


<div class="row">
    <h4 translate>Parking type</h4>
    <div class="col-md-10">
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div class="col-md-4" ng-repeat="cat in env.subcats[model.category]">
                    <label>
                        <input type="radio" ng-model="model.subcategory" value="{{cat.id}}">
                        {{cat.title}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="alert alert-warning" role="alert" translate>
            Based on your selection you will receive the corresponding template
        </div>
    </div>
</div>


<div class="row">
    <h4 translate>Basic Information</h4>

    <div class="col-md-10">
        <div class="form-group"  ng-class="{ 'has-error': adv_form.build_year.$invalid && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Build year</label>
            <div class="col-sm-10 input-group">
                <input type="number" class="form-control" placeholder="{{'In year'|translate}}"
                       ng-model="model.props.build_year" name="build_year" minlength="4" maxlength="4" min="1500">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Length</label>
            <div class="col-sm-10 input-group">
                <input type="number" min="1" class="form-control"
                       ng-model="model.props.length">
                <span class="input-group-addon">m</span>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Width</label>
            <div class="col-sm-10 input-group">
                <input type="number" min="1" class="form-control"
                       ng-model="model.props.width">
                <span class="input-group-addon">m</span>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Height</label>
            <div class="col-sm-10 input-group">
                <input type="number" class="form-control"
                       ng-model="model.props.height">
                <span class="input-group-addon">m</span>

            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': adv_form.area.$invalid  && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Area ca.</label>
            <div class="col-sm-10 input-group">
                <input type="number" min="1" class="form-control" ng-model="model.area" required name="area">
                <span class="input-group-addon">m<sup>2</sup></span>

            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Available from now on</label>
            <div class="col-sm-10 input-group">
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown"
                       data-target="#" href="">
                        <div class="input-append"><input type="text" class="input-large form-control"
                                                         data-ng-model="model.move_date"><span class="add-on"><i
                                class="icon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="env.move_date"
                                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select',minView:'day' }"></datetimepicker>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="alert alert-warning" role="alert" translate>
            Based on your selection you will receive the corresponding template
        </div>
    </div>
</div>

<div class="row">
    <h4 translate>Finance</h4>
    <div class="col-md-10">
        <div class="form-group" ng-class="{ 'has-error': adv_form.rent.$invalid  && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Monthly rent (in &euro;)</label>
            <div class="col-sm-10">
                <input type="number" min="0" class="form-control" ng-model="model.price" required name="rent">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Ancillary cost(in &euro;)</label>
            <div class="col-sm-10">
                <input type="number" min="0" class="form-control" ng-model="model.finance.ancillary_cost">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Total cost (in &euro;)</label>
            <div class="col-sm-10">
                <input type="number" min="0" class="form-control" ng-model="model.finance.total_cost">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Caution money (in &euro;)</label>
            <div class="col-sm-10">
                <input type="number" min="0" class="form-control" ng-model="model.finance.caution_money">
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="alert alert-warning" role="alert" translate>
            Based on your selection you will receive the corresponding template
        </div>
    </div>
</div>

<div class="row">
    <h4 translate>Advertisement pictures</h4>
    <div class="col-md-10">
        <div class="form-group">
            <div class="col-md-12">
                <div id="photo-block" style="overflow: auto;">
                    <div  class="preview"  style="width:200px;height:200px;position: relative;float:left"  ng-repeat="photo in model.photos" >
                        <button ng-click="removePhoto($index)" type="button" class="btn btn-danger" style="position: absolute;left: 155px;top: 5px;">
                            <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <div class="preview-item" style="width:200px;height:200px;" >

                            <div class="center">
                                <img style="max-height: 190px;max-width:190px" ng-src="{{photo.preview}}">
                            </div>
                        </div>
                    </div>

                    <br style="clear: both;">
                    <div class="progress" ng-if="env.progress >= 0 && env.upload_files==true">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"  style="width:100%">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                    <div style="text-align: center" id="upload_trigger" ng-if="model.photos.length<12" >
                        <button ngf-select="uploadFiles($files)" multiple  ngf-max-files="12" ngf-max-size="6MB"   accept="image/*" translate>Upload photos</button>
                    </div>
                    <div class="alert alert-warning" role="alert" ng-if="model.photos.length==12" translate>You can upload only 12 photos</div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="alert alert-warning" role="alert" translate>
            Based on your selection you will receive the corresponding template
        </div>
    </div>
</div>


<div class="row form-horizontal">
    <h4 translate>Advertisement description</h4>
    <div class="col-md-10">
        <div class="form-group" ng-class="{ 'has-error': adv_form.title.$invalid && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Title of your advertisement</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="model.title" name="title" required max="80"
                       maxlength="80">
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': adv_form.desc.$invalid && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Description</label>
            <div class="col-sm-10">
                <textarea class="form-control desc" ng-model="model.desc" name="desc" required></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="alert alert-warning" role="alert" translate>
            Based on your selection you will receive the corresponding template
        </div>
    </div>
</div>


<div class="row form-horizontal">
    <h4 translate>Contact details</h4>
    <div class="col-md-10">
        <div class="form-group">
            <label class="col-sm-2 control-label" translate>Title</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" ng-model="model.author.sex" value="male"> {{'Mister'|translate}}
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="model.author.sex" value="female"> {{'Miss'|translate}}
                </label>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': adv_form.author_name.$invalid && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Forename</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="model.author.name" name="author_name" required>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': adv_form.author_surname.$invalid && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Surname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="model.author.surname" name="author_surname" required>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': adv_form.author_email.$invalid && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" ng-model="model.author.email" name="author_email" required>
            </div>
        </div>


        <div class="form-group" ng-class="{ 'has-error': adv_form.author_phone.$invalid && env.submit==true }">
            <label class="col-sm-2 control-label" translate>Phone number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="model.author.phone" name="author_phone" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">
                {{'Contact only via email?'|translate}}
                <span class="help-block" translate>Your phone number will not being displayed in the advert</span>

            </label>

            <div class="col-sm-10">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="model.author.hide_contacts">
                </label>

            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="alert alert-warning" role="alert" translate>
            Based on your selection you will receive the corresponding template
        </div>
    </div>
</div>