<div ng-init="initGoogleMap(model.lat, model.lng, true)">

  <h4>Basic Information</h4>

  <div ng-include="'/apps/core/adv/tpl/create/sections/address.html'"></div>


  <div class="form-group" ng-class="{ 'has-error': adv_form.area.$invalid && env.submit==true }">
    <label class="control-label col-sm-3" translate>Plot area</label>
    <div class="col-sm-9">
      <div class="input-group ">
        <input type="number" min="1" class="form-control" ng-model="model.area" name="area" required>
        <span class="input-group-addon">m<sup>2</sup></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" translate>Development</label>
    <div class="col-sm-9">

      <ul class="select">
        <li  ng-class="{'active' : model.development=='Developed'}"
             ng-click="model.development = 'Developed'">{{'Developed'|translate}}</li>
        <li ng-click="model.development = 'Developed in part'"
            ng-class="{'active' : model.development=='Developed in part'}">{{'Developed in part'|translate}}</li>
        <li ng-click="model.development = 'Undeveloped'"
            ng-class="{'active' : model.development=='Undeveloped'}">{{'Undeveloped'|translate}}</li>

      </ul>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label" translate>Building license needed</label>
    <div class="col-sm-9">

      <ul class="select">
        <li  ng-class="{'active' : model.building_permission=='Yes'}"
             ng-click="model.building_permission = 'Yes'">{{'Yes'|translate}}</li>
        <li ng-click="model.building_permission = 'No'"
            ng-class="{'active' : model.building_permission=='No'}">{{'No'|translate}}</li>
      </ul>
    </div>
  </div>


  <div class="form-group" ng-class="{ 'has-error': adv_form.rent.$invalid  && env.submit==true }">
    <label class="control-label col-sm-3" translate>Sales price (in &euro;)</label>
    <div class="col-sm-9">
      <div class="input-group ">
        <input type="number" min="0" class="form-control" ng-model="model.price" required name="rent">
        <span class="input-group-addon">&euro;</span>
      </div>
    </div>
  </div>


  <div class="form-group" ng-class="{ 'has-error': adv_form.title.$invalid && env.submit==true }">
    <label class="control-label col-sm-3" translate>Title</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" ng-model="model.title" name="title" required max="80" maxlength="80">
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': adv_form.desc.$invalid && env.submit==true }">
    <label class="control-label col-sm-3" translate>Description</label>
    <div class="col-sm-9">
      <textarea class="form-control desc" ng-model="model.desc" name="desc" maxlength="3000" required></textarea>
      <div>
        <text-counter text="model.desc" reverse="true" max-length="3000"></text-counter>
      </div>
    </div>
  </div>

  <div ng-include="'/apps/core/adv/tpl/create/sections/energy.html'"></div>


  <div ng-include="'/apps/core/adv/tpl/create/sections/photos.html'"></div>


  <div ng-include="'/apps/core/adv/tpl/create/sections/contacts.html'"></div>


  <h4 translate>Do you want get more information?</h4>

  <div class="form-group">
    <div class="adv-type">
      <ul>
        <li ng-click="setDisplayAdditionalInformation(true)"
            ng-class="{'active':env.display_additional_information==true}">Yes
        </li>
      </ul>

      <ul>
        <li ng-click="setDisplayAdditionalInformation(false)" ng-class="{'active':!env.display_additional_information}">
          No
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="env.display_additional_information">
    <div ng-include="'/apps/core/adv/tpl/create/sections/additionalAddress.html'"></div>

    <h4 translate>Flat type</h4>
    <div ng-include="'/apps/core/adv/tpl/create/sections/type.html'"></div>


    <h4 translate>Basic Information</h4>


    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Buildable after</label>
      <div class="col-sm-9">

        <ul class="select">
          <li  ng-class="{'active' : model.props.buildable_after=='Outdoor area'}"
               ng-click="model.props.buildable_after = 'Outdoor area'">{{'Outdoor area'|translate}}</li>

          <li  ng-class="{'active' : model.props.buildable_after=='Land-use plan'}"
               ng-click="model.props.buildable_after = 'Land-use plan'">{{'Land-use plan'|translate}}</li>

          <li  ng-class="{'active' : model.props.buildable_after=='As neighboring buildings'}"
               ng-click="model.props.buildable_after = 'As neighboring buildings'">{{'As neighboring buildings'|translate}}</li>
        </ul>
      </div>
    </div>




    <div class="form-group">
      <label class="col-sm-3 control-label" translate>Commercial type</label>
      <div class="col-sm-9">
        <ul class="select">
          <li ng-click="model.finance.commercial_type = 'Sale'"
              ng-class="{'active' : model.finance.commercial_type=='Sale'}">{{'Sale'|translate}}
          </li>
          <li ng-click="model.finance.commercial_type = 'Emphyteusis'"
              ng-class="{'active' : model.finance.commercial_type=='Emphyteusis'}">{{'Emphyteusis'|translate}}
          </li>
        </ul>
      </div>
    </div>


    <div class="form-group" >
      <label class="control-label col-sm-3" translate>Emphyteusis per year(in &euro;)</label>
      <div class="col-sm-9">
        <div class="input-group ">
          <input type="number" min="0" class="form-control" ng-model="model.emphyteusis_per_year"  >
          <span class="input-group-addon">&euro;</span>
        </div>
      </div>
    </div>


  </div>
</div>

