<div class="thumbnail" ng-class="{'disable':adv.status!='active' }">
    <div ng-if="adv.status=='active'">
        <h3><a class="link" ng-click="displayAdv(adv)" >{{adv.title}}</a></h3>
        <div style="width:200px;margin-left:auto;margin-right:auto" class="image link" ng-click="displayAdv(adv)" >
            <div class="preview">
                <div class="preview-item">
                    <div class="center">
                        <img ng-src="{{adv.MainPhoto.preview}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="adv.status!='active'">
        <h3>{{adv.title}}</h3>
        <div style="width:200px;margin-left:auto;margin-right:auto" class="image link" >
            <div class="preview">
                <div class="preview-item">
                    <div class="center">
                        <img src="/images/no-available.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="caption">
        <table>
            <tr>
                <td translate>Office/Praxis area:</td>
                <td >{{adv.area}} m<sup>2</sup></td>
            </tr>
            <tr>
                <td translate>Rooms:</td>
                <td>{{adv.rooms}}</td>
            </tr>
            <tr>
                <td translate>Floor/s:</td>
                <td>{{adv.floor}} {{'of'|translate}} {{adv.floors}}</td>
            </tr>

            <tr>
                <td translate>Sales price</td>
                <td>{{adv.price| currency:"€"}}</td>
            </tr>

        </table>
    </div>
    <button style="width: 100%"  ng-click="deleteItem(adv)" type="button" class="btn btn-primary" translate>Delete from watchlist</button>

</div>