<div class="progress" ng-if="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>
<div ng-if="env.loading!=true">

    <div ng-if="env.action=='form'">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" translate>About my profile page</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-11">
                        Here you can create and modify your personal profile page! <br>
                        With your personal profile page you or your company is findable in our „Real estate
                        agent“-Search.
                    </div>
                    <div class="col-md-1 text-left">
                        <button ng-if="$parent.user.profile==0" ng-click="activateProfile()" type="button"
                                class="btn btn-primary">{{'Activate'|translate}}
                        </button>
                        <button ng-if="$parent.user.profile==1" ng-click="deactivateProfile()" type="button"
                                class="btn btn-danger">{{'Disable'|translate}}
                        </button>


                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" ng-if="$parent.user.profile==1">
            <div class="panel-heading">
                <h3 class="panel-title" translate>My profile page</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-6">
                            <div style="width:70%;text-align:left;float:left" translate>We are specialized for...</div>
                            <div style="width:30%;text-align:right;float:left" translate>(max. 12)</div>
                            <hr style="background-color:#a8cae9;height:2px;">
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.specializations.common.length+model.specializations.personal.length>11 && model.specializations.common.indexOf('Residential properties')==-1"
                                           type="checkbox" checklist-model="model.specializations.common"
                                           checklist-value="'Residential properties'"> {{'Residential
                                    properties'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.specializations.common.length+model.specializations.personal.length>11 && model.specializations.common.indexOf('Commercial properties')==-1"
                                           type="checkbox" checklist-model="model.specializations.common"
                                           checklist-value="'Commercial properties'"> {{'Commercial
                                    properties'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.specializations.common.length+model.specializations.personal.length>11 && model.specializations.common.indexOf('New build properties')==-1"
                                           type="checkbox" checklist-model="model.specializations.common"
                                           checklist-value="'New build properties'"> {{'New build
                                    properties'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.specializations.common.length+model.specializations.personal.length>11 && model.specializations.common.indexOf('Investment properties')==-1"
                                           type="checkbox" checklist-model="model.specializations.common"
                                           checklist-value="'Investment properties'"> {{'Investment
                                    properties'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.specializations.common.length+model.specializations.personal.length>11 && model.specializations.common.indexOf('Seniors properties')==-1"
                                           type="checkbox" checklist-model="model.specializations.common"
                                           checklist-value="'Seniors properties'"> {{'Seniors properties'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.specializations.common.length+model.specializations.personal.length>11 && model.specializations.common.indexOf('Building grounds')==-1"
                                           type="checkbox" checklist-model="model.specializations.common"
                                           checklist-value="'Building grounds'"> {{'Building grounds'|translate}}
                                </label>
                            </div>
                            <hr>
                            <div class="checkbox" ng-repeat="spec in model.specializations.personal track by $index">
                                <label>
                                    <input type="checkbox" checklist-model="model.specializations.personal"
                                           checklist-value="spec"> {{spec}}
                                </label>
                            </div>

                            <br>
                            <div>

                                <div class="input-group"
                                     ng-if="model.specializations.personal.length+model.specializations.common.length<12">
                                    <input type="text" class="form-control" ng-model="env.specialization"
                                           placeholder="{{'e.g. Consulting...'|translate}}">
                                    <span class="input-group-btn"><button class="btn btn-primary"
                                                                          ng-disabled="model.specializations.personal.length==12"
                                                                          ng-click="addSpecialization()" type="button"
                                                                          translate>Add</button></span>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="width:70%;text-align:left;float:left" translate>Our services for you...</div>
                            <div style="width:30%;text-align:right;float:left" translate>(max. 12)</div>
                            <hr style="background-color:#a8cae9;height:2px;">
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.services.common.length+model.services.personal.length>11 && model.services.common.indexOf('Price calculation of properties')==-1"
                                           type="checkbox" checklist-model="model.services.common"
                                           checklist-value="'Price calculation of properties'"> {{'Price calculation of
                                    properties'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.services.common.length+model.services.personal.length>11 && model.services.common.indexOf('Financial intermediation')==-1"
                                           type="checkbox" checklist-model="model.services.common"
                                           checklist-value="'Financial intermediation'"> {{'Financial
                                    intermediation'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.services.common.length+model.services.personal.length>11 && model.services.common.indexOf('Reconstruction service')==-1"
                                           type="checkbox" checklist-model="model.services.common"
                                           checklist-value="'Reconstruction service'"> {{'Reconstruction
                                    service'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.services.common.length+model.services.personal.length>11 && model.services.common.indexOf('Real estate consultancy')==-1"
                                           type="checkbox" checklist-model="model.services.common"
                                           checklist-value="'Real estate consultancy'"> {{'Real estate
                                    consultancy'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.services.common.length+model.services.personal.length>11 && model.services.common.indexOf('House management')==-1"
                                           type="checkbox" checklist-model="model.services.common"
                                           checklist-value="'House management'"> {{'House management'|translate}}
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input ng-disabled="model.services.common.length+model.services.personal.length>11 && model.services.common.indexOf('Renting and selling of properties')==-1"
                                           type="checkbox" checklist-model="model.services.common"
                                           checklist-value="'Renting and selling of properties'"> {{'Renting and selling
                                    of
                                    properties'|translate}}
                                </label>
                            </div>
                            <hr>
                            <div class="checkbox" ng-repeat="serv in model.services.personal track by $index">
                                <label>
                                    <input type="checkbox" checklist-model="model.services.personal"
                                           checklist-value="serv"> {{serv}}
                                </label>
                            </div>
                            <br>
                            <div>

                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="env.service"
                                           placeholder="{{'e.g. Consulting...'|translate}}">
                                    <span class="input-group-btn"><button class="btn btn-primary"
                                                                          ng-disabled="model.services.personal.length==12"
                                                                          ng-click="addService()" type="button"
                                                                          translate>Add</button></span>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="text-align:left;" translate>About us</div>
                            <hr style="background-color:#a8cae9;height:2px;margin:0">

                            <textarea class="form-control" ng-model="model.about" maxlength="4000"></textarea>
                            <text-counter text="model.about" reverse="true" max-length="4000"></text-counter>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div style="text-align:left" translate>Company data</div>
                        <hr style="background-color:#a8cae9;height:2px;margin:0px">

                        <div class="radio">
                            <label>
                                <input type="radio" value="settings" ng-model="model.company_data_source">
                                {{'Show my company data from "My Settings"'|translate}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="profile" ng-model="model.company_data_source">
                                {{'Show other data on my personal site'|translate}}
                            </label>
                        </div>

                        <div ng-if="model.company_data_source=='profile'">
                            <div class="form-group">
                                <input type="text" ng-model="model.company_data.name" class="form-control"
                                       placeholder="{{'Company name'|translate}}">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="autocomplete"
                                       placeholder="{{'Address'|translate}}"
                                       ng-autocomplete ng-model="autocomplete.value" details="autocomplete.details">


                            </div>

                            <div class="form-group" ng-if="model.company_data.address_zip">
                                <div class="form-inline">

                                    <input type="text" class="form-control" ng-model="model.company_data.address_zip"
                                           name="zip"

                                           placeholder="{{'Zip'|translate}}" style="width:80px">
                                    <input type="text" class="form-control" ng-model="model.company_data.address_city"
                                           name="city"
                                           placeholder="{{'City'|translate}}" style="width:120px">
                                    <input type="text" class="form-control" ng-model="model.company_data.address_street"
                                           name="street"
                                           placeholder="{{'Street'|translate}}" style="width:120px">
                                    <input type="text" class="form-control" ng-model="model.company_data.address_number"
                                           name="no"
                                           placeholder="{{'Haus No.'|translate}}" style="width:80px">


                                </div>
                            </div>


                            <div class="form-group">
                                <input type="text" ng-model="model.company_data.additional_address" class="form-control"
                                       placeholder="{{'Additional address'|translate}}">
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="model.company_data.phone" class="form-control"
                                       placeholder="{{'Phone number'|translate}}">
                            </div>

                            <div class="form-group">
                                <input type="text" ng-model="model.company_data.site" class="form-control"
                                       placeholder="{{'https://company.de'|translate}}">
                            </div>

                        </div>


                        <div>
                            <div style="text-align:left;" translate>Company Logo</div>
                            <hr style="background-color:#a8cae9;height:2px;margin:0">

                            <div style="margin: 10px; text-align: center">
                                <upload ng-model="model.logo" number-of-files="1">
                                    <button class="btn btn-danger" type="button" translate>Upload image</button>
                                </upload>
                            </div>
                        </div>


                        <div>
                            <div style="text-align:left;" translate>Contact person</div>
                            <hr style="background-color:#a8cae9;height:2px;margin:0">

                            <div style="margin-top:10px">
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="model.person_data_source" value="settings">
                                        {{'Show my contact data from "My Settings"'|translate}}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="model.person_data_source" value="profile">
                                        {{'Show other contact person on my personal site'|translate}}
                                    </label>
                                </div>
                            </div>

                            <div style="margin-top:10px" ng-if="model.person_data_source=='profile'">
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" value="male" ng-model="model.person_data.sex">
                                        {{'Mister'|translate}}
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="female" ng-model="model.person_data.sex">
                                        {{'Miss'|translate}}
                                    </label>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="model.person_data.name"
                                           placeholder="{{'Forename'|translate}}">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="model.person_data.surname"
                                           placeholder="{{'Surename'|translate}}">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" ng-model="model.person_data.email"
                                           placeholder="{{'Email address'|translate}}">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <hr style="background-color:#a8cae9;height:2px;margin:0">

                    <div class="col-md-10">Last time modified on: {{$parent.user.updated_at}}</div>
                    <div class="col-md-2 text-right">
                        <button class="btn btn-primary" translate ng-click="save()">Save</button>
                        <button class="btn btn-success" translate ng-click="preview()">Preview</button>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="panel panel-default" ng-if="env.action=='preview'">
        <div class="panel-heading">
            <h3 class="panel-title">Preview
                <button class="btn btn-primary btn-xs" ng-click="close()" translate>Close</button>
            </h3>
        </div>
        <div class="panel-body">

            <div class="row" style="height: 100px">
                <div class="col-md-8">


                    <img ng-src="data:{{model.logo[0].filetype}};base64,{{model.logo[0].base64}}"
                         style="float:left;margin-right:30px;max-height:100px;max-width: 200px"
                         ng-if="model.logo[0].base64!=undefined">

                    <img ng-src="{{model.logo.base64==undefined ? model.logo[0] : ''}}"
                         style="float:left;margin-right:30px;max-height:100px;max-width: 200px"
                         ng-if="model.logo.base64==undefined">

                    <h3 style="margin-top: 0px">{{model.company_data.name}}</h3>

                    <div>
                        {{model.company_data.address_street}} {{model.company_data.address_number}} <br>
                        {{model.company_data.address_zip}} {{model.company_data.address_city}}
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="map" style="height: 400px;width: 100%;"></div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <h3>About as</h3>
                    {{model.about}}
                </div>
                <div class="col-md-2">
                    <h3>We are specialized in</h3>
                    <ul>
                        <li ng-repeat="spec in $parent.user.profile.specializations"></li>
                    </ul>

                    <h3>We are services in</h3>
                    <ul>
                        <li ng-repeat="serv in $parent.user.profile.services"></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3>Mr Anre ... </h3>
                    <div>Is looking forward to hearing from you</div>
                    <form>
                        <div class="form-group">
                            <label>Subject</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="option1" aria-label="..."> I want to sell my real estate
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="option1" aria-label="..."> I want to rent my real estate
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="option1" aria-label="..."> I want receive some real
                                    estate
                                    offer
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="option1" aria-label="..."> I need a consultation
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>I am</label>

                            <label class="radio-inline">
                                <input type="radio" value="male"> Mister
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="female"> Miss
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Forename</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Surname</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email address</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone number</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <p class="help-block">* Required fields</p>


                        <button type="button" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>


    </div>