<div id="mail-templates" ng-if="!env.loading">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" translate>Mailing - Template</div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-2 titles">

                        <div class="row header">
                            <div class="col-md-6 desc" translate>Mail type</div>
                            <div class="col-md-6 type" translate>System</div>
                        </div>

                        <div class="list-group">
                            <a ng-repeat="template in env.templates|filter:{type:'system'}" ng-class="{'active':env.template.id==template.id}" ng-click="displayTemplate(template)" class="list-group-item link">{{template.name}}</a>

                        </div>

                        <div class="row header">
                            <div class="col-md-6 desc" translate>Mail type</div>
                            <div class="col-md-6 type" translate>Info</div>
                        </div>

                        <div class="list-group">
                            <a ng-repeat="template in env.templates|filter:{type:'info'}"
                               ng-click="displayTemplate(template)" class="link list-group-item " ng-class="{'active':env.template.id==template.id}">{{template.name}}</a>

                        </div>

                    </div>
                    <div class="col-md-3" ng-if="env.template">
                        <table class="table">
                            <tr>
                                <td>[varAccountID]</td>
                                <td translate>The ID of the account</td>
                            </tr>
                            <tr>
                                <td>[varAccountActivationLink]</td>
                                <td translate>The generated activation link for the account</td>
                            </tr>
                            <tr>
                                <td>[varAccountEmail]</td>
                                <td translate>The login email address of the account</td>
                            </tr>
                            <tr>
                                <td>[varAccountCompanyName]</td>
                                <td translate>The company name of the account</td>
                            </tr>
                            <tr>
                                <td>[varAccountCountry]</td>
                                <td translate>The country of the account</td>
                            </tr>
                            <tr>
                                <td>[varAccountSubscription]</td>
                                <td translate>The current subscription of the account</td>
                            </tr>
                            <tr>
                                <td>[varAccountPayment]</td>
                                <td translate>The current prefered payment method of the account</td>
                            </tr>
                            <tr>
                                <td>[varContactTitle]</td>
                                <td translate>The title of the contact person</td>
                            </tr>
                            <tr>
                                <td>[varContactForename]</td>
                                <td translate>The forename of the contact person</td>
                            </tr>
                            <tr>
                                <td>[varContactForename]</td>
                                <td translate>The surname of the contact person</td>
                            </tr>
                            <tr>
                                <td>[varContactEmail]</td>
                                <td translate>The email address of the contact person</td>
                            </tr>
                            <tr>
                                <td>[varContactPhone]</td>
                                <td translate>The phone of the contact person</td>
                            </tr>
                            <tr>
                                <td>[varAdvertID]</td>
                                <td translate>The ID of the advert</td>
                            </tr>
                            <tr>
                                <td>[varAdvertStatus]</td>
                                <td translate>The current advert status</td>
                            </tr>
                            <tr>
                                <td>[varAdvertDateCreation]</td>
                                <td translate>The date when this advert was created</td>
                            </tr>
                            <tr>
                                <td>[varAdvertDateDeletion]</td>
                                <td translate>The date when this advert will be automatically deleted</td>
                            </tr>
                            <tr>
                                <td>[varAdvertDateDeleted]</td>
                                <td translate>The date when this advert was deleted</td>
                            </tr>
                            <tr>
                                <td>[varAdvertDateEnds]</td>
                                <td translate>The date when this advert will end</td>
                            </tr>
                            <tr>
                                <td>[varAdvertDateBlocked]</td>
                                <td translate>The date when this advert was blocked</td>
                            </tr>
                            <tr>
                                <td>[varAdvertDateActivated]</td>
                                <td translate>The date when this advert was activated</td>
                            </tr>


                        </table>



                    </div>

                    <div class="col-md-7 " ng-if="env.template">


                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="env.template.header">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" ng-model="env.template.MailTemplate"></textarea>
                        </div>

                        <hr>
                        <table class="information">
                            <tr>
                                <td translate>Last edited:</td>
                                <td>{{env.template.user.name}} {{env.template.user.surname}}</td>
                                <td  rowspan="2" class="text-right">
                                    <div class="btn-group" >
                                        <button class="btn btn-success" translate ng-click="previewTemplate()">Preview</button>
                                        <button class="btn btn-primary" translate ng-click="saveTemplate()">Save</button>
                                    </div>
                                </td>
                            <tr>
                                <td translate>Edited on:</td>
                                <td>{{env.template.updated_at}}</td>
                            </tr>

                        </table>


                    </div>
                </div>


            </div>
        </div>
    </div>

</div>


<div class="progress" ng-if="env.loading">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>
