<div class="alert alert-danger" style="width:40%;margin-left: auto;margin-right:auto;text-align:center" role="alert"
     translate ng-if="env.restore_flag==true && env.advert.LastPayment.status=='error'">
    Payment has an error
</div>

<div class="alert alert-info" style="width:40%;margin-left: auto;margin-right:auto;text-align:center" role="alert"
     translate ng-if="env.restore_flag==true">
    You did not complete the previous announcement. We have restored it for you
    <div class="row">
        <div class="col-md-6 text-right">
            <button class="btn-default btn" translate ng-click="env.restore_flag = false">Continue this advert</button>
        </div>
        <div class="col-md-6 text-left">
            <button class="btn-default btn" translate ng-click="newAdvert()">Start new
                advert
            </button>
        </div>
    </div>
</div>

<div class="row text-right" style="margin:10px;">
    <button class="btn btn-primary" ng-click="backToForm()">Back</button>
</div>

<div class="row">
    <form name="paymentForm">
        <div class="col-md-6">
            <h4 translate>Your advert</h4>


            <div ng-include="'apps/core/adv/tpl/paymentPreview/rentFlat.html'"
                 ng-if="env.advert.category==1 && env.advert.type=='rent'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/rentHouse.html'"
                 ng-if="env.advert.category==2 && env.advert.type=='rent'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/rentGarage.html'"
                 ng-if="env.advert.category==3 && env.advert.type=='rent'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/rentOffice.html'"
                 ng-if="env.advert.category==4 && env.advert.type=='rent'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/rentHotel.html'"
                 ng-if="env.advert.category==6 && env.advert.type=='rent'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/rentHall.html'"
                 ng-if="env.advert.category==7 && env.advert.type=='rent'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/rentRetail.html'"
                 ng-if="env.advert.category==8 && env.advert.type=='rent'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/rentCommercialLand.html'"
                 ng-if="env.advert.category==9 && env.advert.type=='rent'"></div>

            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleFlat.html'"
                 ng-if="env.advert.category==1 && env.advert.type=='sale'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleHouse.html'"
                 ng-if="env.advert.category==2 && env.advert.type=='sale'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleGarage.html'"
                 ng-if="env.advert.category==3 && env.advert.type=='sale'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleOffice.html'"
                 ng-if="env.advert.category==4 && env.advert.type=='sale'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleBuilding.html'"
                 ng-if="env.advert.category==5 && env.advert.type=='sale'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleHotel.html'"
                 ng-if="env.advert.category==6 && env.advert.type=='sale'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleHall.html'"
                 ng-if="env.advert.category==7 && env.advert.type=='sale'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleRetail.html'"
                 ng-if="env.advert.category==8 && env.advert.type=='sale'"></div>
            <div ng-include="'apps/core/adv/tpl/paymentPreview/saleCommercialLand.html'"
                 ng-if="env.advert.category==9 && env.advert.type=='sale'"></div>


            <div ng-class="{ 'has-error-tariff': ( paymentForm.tariff.$invalid && env.submit==true) }">
                <h4 translate>Select service</h4>
                <div translate>Please select the wanted duration of your advert:</div>

                <table style="width:100%">
                    <tr>

                        <td style="border-bottom: 2px solid #EF8E4C;" colspan="2">
                            <div style="background-color: #FFE699;text-align: center;margin:4px;padding:3px" translate>
                                Duration
                            </div>
                        </td>
                        <td style="border-left: 2px solid #EF8E4C;border-bottom: 2px solid #EF8E4C;">
                            <div style="background-color: #c5E0b4;text-align: center;margin:4px;padding:3px;" translate>
                                Price
                            </div>
                        </td>

                    </tr>
                    <tr ng-repeat="tariff in env.tariffs" style="cursor: pointer" ng-click="setPrivateTariff(tariff)">
                        <td style="width: 20px">
                            <div class="radio">
                                <label>
                                    <input type="radio" required  name="tariff" ng-model="env.tariff.id"
                                           ng-value="{{tariff.id}}">

                                </label>
                            </div>
                        </td>
                        <td>
                            <div style="background-color: #FFF2CC;text-align: center;margin:4px;padding:3px">
                                {{tariff.duration}}
                            </div>
                        </td>
                        <td style="border-left: 2px solid #EF8E4C;text-align:center" ng-if="env.advert.type=='rent'">
                            <div style="background-color: #c5E0b4;text-align: center;margin:4px;padding:3px">
                                {{tariff.rent_price|currency:"€"}}
                            </div>
                        </td>
                        <td style="border-left: 2px solid #EF8E4C;text-align:center;" ng-if="env.advert.type=='sale'">
                            <div style="background-color: #E2f0E9;text-align: center;margin:4px;padding:3px">
                                {{tariff.sale_price|currency:"€"}}
                            </div>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" translate>Payment</h3>
                </div>
                <div class="panel-body">
                    <table style="width: 100%">
                        <tr>
                            <td translate style="width: 50%">You choose</td>
                            <td>{{env.tariff.duration}}</td>
                            <td>( {{env.tariff.begin_date}} - {{env.tariff.end_date}} )</td>
                        </tr>
                        <tr>
                            <td translate style="width: 50%">Current price</td>
                            <td>{{env.tariff.price|currency:"€"}}</td>
                            <td translate>( Taxes included )</td>
                        </tr>
                    </table>
                    <h4>Method of pay</h4>
                    <div>At the moment this payment methods are available – please select:</div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="radio"
                                 ng-class="{ 'has-error': ( paymentForm.paypal_email.$invalid && env.submit==true) }">
                                <label>
                                    <input type="radio" value="paypal" ng-model="env.user.payment_type">
                                    {{'PayPal'|translate}}<br>
                                    {{'(you will be forwarded to PayPal by clicking on „Next“)'|translate}}

                                </label>

                                <div class="form-inline">
                                    <label class="col-sm-3 " translate>PayPal email </label>
                                    <div class="col-sm-9">
                                        <input type="email" name="paypal_email" class="form-control"
                                               ng-model="env.user.paypal_email"
                                               ng-disabled="env.user.payment_type!='paypal'"
                                               ng-required="env.user.payment_type=='paypal'">
                                    </div>
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="radio"
                                 ng-class="{ 'has-error': ( paymentForm.giro_account.$invalid && env.submit==true) }">
                                <label>
                                    <input type="radio" value="giropay" ng-model="env.user.payment_type">
                                    {{'GiroPay'|translate}}
                                    <br>
                                    {{'(you will be forwarded to your Bank)'|translate}}

                                </label>

                                <div class="form-inline">
                                    <label class="col-sm-3" translate>BIC</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="giro_account" class="form-control"
                                               ng-model="env.user.giro_account"
                                               ng-disabled="env.user.payment_type!='giropay'"
                                               ng-required="env.user.payment_type=='giropay'">

                                    </div>
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="prepayment" ng-model="env.user.payment_type">
                                    {{'Prepayment'|translate}}
                                </label>
                            </div>

                            <div ng-if="env.user.payment_type=='prepayment'">
                                <div translate>Please use this transaction code for your transaction:</div>
                                <table>
                                    <tr>
                                        <td style="text-align: left" translate>Price:</td>
                                        <td style="text-align: right">{{env.tariff.price|currency:"€"}}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;font-weight: bold" translate>Transaction code:</td>
                                        <td style="text-align: left;font-weight: bold">{{env.guid}}</td>
                                    </tr>
                                </table>
                                <div style="color:red" translate>
                                    It is important that you mention this transaction code at your transaction! <br>
                                    Otherwise we can not ensure the correct transaction.
                                </div>

                                <div translate style="margin-top:20px">Please pay the following price to this bank
                                    account:
                                </div>
                                <table>
                                    <tr>
                                        <td style="text-align: left" translate>Bank account:</td>
                                        <td style="text-align: right">2608722016</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left" translate>BIC:</td>
                                        <td style="text-align: right">591954772</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left" translate>IBAN:</td>
                                        <td style="text-align: right">DE06 2546 2549 3500 0015 0161</td>
                                    </tr>
                                </table>
                                <div translate>Please pay within the next 10 days.</div>
                            </div>
                        </div>
                    </div>

                    <h4>Final</h4>

                    <div>


                        <div class="col-md-6">
                            <div class="checkbox "
                                 ng-class="{ 'has-error': ( paymentForm.agb_accepted.$invalid && env.submit==true) }">
                                <label translate>
                                    <input type="checkbox" required ng-model="env.user.agb_accepted"
                                           name="agb_accepted"> I noticed and accepted the <a target="_blank"
                                                                                              href="/agb">AGB‘s</a>
                                </label>
                            </div>

                        </div>
                        <div class="col-md-6 text-right">


                            <button translate class="btn btn-primary" type="button" ng-click="pay(paymentForm)">
                                Next
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form ng-if="env.user.payment_type=='paypal'" id="paypalForm">
    </form>

    <form ng-if="env.user.payment_type=='giropay'" id="giroForm">

    </form>
</div>