<h4>Detailed search</h4>

<div class="row">
  <div class="col-md-6">
    <div class="form-group form-inline">
      <label ng-if="search.type=='rent'" translate>Price per month</label>
      <label ng-if="search.type=='sale'" translate>Sales price in €</label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.price.from"
             id="focus">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.price.to">
    </div>
  </div>

  <div class="col-md-6" ng-if="search.type=='rent'">
    <div class="form-group form-inline">
      <label translate>Price per m<sup>2</sup></label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.price_per_m2.from">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.price_per_m2.to">
    </div>
  </div>

  <div class="col-md-6" ng-if="search.type=='sale'">
    <div class="form-group form-inline">
      <label translate>Floor</label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.floor.from">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.floor.to">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="form-group form-inline">
      <label translate>Office / Praxis area in m<sup>2</sup></label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.area.from">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.area.to">
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group form-inline">
      <label translate>Rooms</label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.rooms.from">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.rooms.to">
    </div>
  </div>
</div>


<div class="row" ng-if="search.type=='rent'">
  <div class="col-md-6">
    <div class="form-group form-inline">
      <label translate>Floor</label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.floor.from">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.floor.to">
    </div>
  </div>

  <div class="col-md-6">

  </div>
</div>


<div class="row">
  <div class="form-group col-md-12">
    <label translate>Parking place available</label>
    <ul class="select">
      <li ng-click="search.parking_place = 'Any'"
          ng-class="{'active' : search.parking_place=='Any'}">{{'Any'|translate}}
      </li>
      <li ng-click="search.parking_place = 'Yes'"
          ng-class="{'active' : search.parking_place=='Yes'}">{{'Yes'|translate}}
      </li>
      <li ng-click="search.parking_place = 'No'"
          ng-class="{'active' : search.parking_place=='No'}">{{'No'|translate}}
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="form-group col-md-12">
    <label translate>Air conditioner</label>
    <ul class="select">
      <li ng-click="search.air_conditioner = 'Any'"
          ng-class="{'active' : search.air_conditioner=='Any'}">{{'Any'|translate}}
      </li>
      <li ng-click="search.air_conditioner = 'Allowed'"
          ng-class="{'active' : search.air_conditioner=='Allowed'}">{{'Allowed'|translate}}
      </li>
      <li ng-click="search.air_conditioner = 'Forbidden'"
          ng-class="{'active' : search.air_conditioner=='Forbidden'}">{{'Forbidden'|translate}}
      </li>
      <li ng-click="search.air_conditioner = 'By agreement'"
          ng-class="{'active' : search.air_conditioner=='By agreement'}">{{'By agreement'|translate}}
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-12">
    <label translate>EDP cabling</label>
    <ul class="select">
      <li ng-click="search.edp_cabling = 'Any'"
          ng-class="{'active' : search.edp_cabling=='Any'}">{{'Any'|translate}}
      </li>
      <li ng-click="search.edp_cabling = 'Allowed'"
          ng-class="{'active' : search.edp_cabling=='Allowed'}">{{'Allowed'|translate}}
      </li>
      <li ng-click="search.edp_cabling = 'Forbidden'"
          ng-class="{'active' : search.edp_cabling=='Forbidden'}">{{'Forbidden'|translate}}
      </li>
      <li ng-click="search.edp_cabling = 'By agreement'"
          ng-class="{'active' : search.edp_cabling=='By agreement'}">{{'By agreement'|translate}}
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-12">
    <label translate>Heating system</label>
    <ul class="select">
      <li ng-repeat="heating_system in env.heating_systems"
          ng-click="search.heating=heating_system"
          ng-class="{'active' :search.heating==heating_system}">{{heating_system}}
      </li>
    </ul>
  </div>
</div>

<h4 translate>Building type</h4>

<div class="row">
  <div class="form-group col-md-12">
    <ul class="select">
      <li ng-repeat="cat in env.subcats[search.category]"
          ng-click="changeSubCategory(cat.id)"
          ng-class="{'active' :search.subcategory.indexOf(cat.id)!==-1}">{{cat.title}}
      </li>

    </ul>
  </div>
</div>

<h4 translate>Equipment</h4>
<div class="row">
  <div class="form-group col-md-12">
    <ul class="select">
      <li ng-repeat="equipment in env.equipments[search.category]"
          ng-click="changeEquipment(equipment)"
          ng-class="{'active' :search.equipments.indexOf(equipment)!==-1}">{{equipment}}
      </li>
    </ul>
  </div>
</div>

