<h4>Detailed search</h4>

<div class="row" ng-if="search.type=='rent'">
  <div class="col-md-6">
    <div class="form-group form-inline">
      <label translate >Price per year in €</label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.price.from"
             id="focus">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.price.to">
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group form-inline">
      <label translate>Area in m<sup>2</sup></label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.area.from">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.area.to">
    </div>
  </div>
</div>

<div class="row" ng-if="search.type=='sale'">
  <div class="col-md-6">
    <div class="form-group form-inline">
      <label translate >Sales price in €</label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.price.from"
             id="focus">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.price.to">
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group form-inline">
      <label translate>Emphyteusis per year in €</label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.price_per_year.from">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.price_per_year.to">
    </div>
  </div>
</div>

<div class="row" ng-if="search.type=='sale'">
  <div class="col-md-6">
    <div class="form-group form-inline">
      <label translate>Area in m<sup>2</sup></label>
      <input type="number" class="form-control" placeholder="From" min="0" ng-model="search.area.from">
      <input type="number" class="form-control" placeholder="To" min="0" ng-model="search.area.to">
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <label translate>Development</label>
    <ul class="select">
      <li ng-click="search.development = 'Any'"
          ng-class="{'active' : search.development=='Any'}">{{'Any'|translate}}
      </li>
      <li ng-click="search.development = 'Developed'"
          ng-class="{'active' : search.development=='Developed'}">{{'Developed'|translate}}
      </li>
      <li ng-click="search.development = 'Developed in part'"
          ng-class="{'active' : search.development=='Developed in part'}">{{'Developed in part'|translate}}
      </li>
      <li ng-click="search.development = 'Undeveloped'"
          ng-class="{'active' : search.development=='Undeveloped'}">{{'Undeveloped'|translate}}
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="form-group col-md-12">
    <label translate>Building permission necessary</label>
    <ul class="select">
      <li ng-click="search.building_permission = 'Any'"
          ng-class="{'active' : search.building_permission=='Any'}">{{'Any'|translate}}
      </li>
      <li ng-click="search.building_permission = 'Yes'"
          ng-class="{'active' : search.building_permission=='Yes'}">{{'Yes'|translate}}
      </li>
      <li ng-click="search.building_permission = 'No'"
          ng-class="{'active' : search.building_permission=='No'}">{{'No'|translate}}
      </li>
    </ul>
  </div>
</div>


<h4 translate>Recommended usage</h4>

<div class="row">
  <div class="form-group col-md-12">
    <ul class="select">
      <li ng-repeat="cat in env.subcats[search.category]"
          ng-click="changeSubCategory(cat.id)"
          ng-class="{'active' :search.subcategory.indexOf(cat.id)!==-1}">{{cat.title}}
      </li>

    </ul>
  </div>
</div>


