<form class="form-horizontal" name="adv_form" id="advert-form">
  <div class="container">
    <h4>Advert Type</h4>

    <div class="form-group">
      <label>Do you want to rent or sell your object?</label>
      <div class="adv-type">
        <ul>
          <li ng-click="setType('rent')" ng-class="{'active':model.type=='rent'}">Rent</li>
        </ul>

        <ul>
          <li ng-click="setType('sale')" ng-class="{'active':model.type=='sale'}">Sale</li>
        </ul>
      </div>
    </div>

    <div class="form-group" ng-if="model.type=='rent'">
      <label>Please select the type of your object</label>
      <div class="category">
        <ul>
          <li class="first">Living objects</li>
          <li ng-repeat="category in env.categories"
              ng-if="category.ic_business==false && (category.is_sale_only==false)"
              ng-class="{'active':model.type=='rent' && model.category==category.id}"
              ng-click="setCategory(category.id)"
          >{{category.title}}
          </li>
        </ul>

        <ul>
          <li class="first">Business objects</li>
          <li ng-repeat="category in env.categories"
              ng-if="category.ic_business==true && (category.is_sale_only==false)"
              ng-class="{'active':model.type=='rent' && model.category==category.id}"
              ng-click="setCategory(category.id)"
          >{{category.title}}
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group" ng-if="model.type=='sale'">
      <label>Please select the type of your object</label>
      <div class="category">
        <ul>
          <li class="first">Living objects</li>
          <li ng-repeat="category in env.categories"
              ng-if="category.ic_business==false "
              ng-class="{'active':model.type=='sale' && model.category==category.id}"
              ng-click="setCategory(category.id)"
          >{{category.title}}
          </li>
        </ul>

        <ul>
          <li class="first">Business objects</li>
          <li ng-repeat="category in env.categories"
              ng-if="category.ic_business==true"
              ng-class="{'active':model.type=='sale' && model.category==category.id}"
              ng-click="setCategory(category.id)"
          >{{category.title}}
          </li>
        </ul>
      </div>
    </div>


    <div ng-include="'apps/core/adv/tpl/create/rentFlatForm.html'"
         ng-if="model.category==1 && model.type=='rent'"></div>
    <div ng-include="'apps/core/adv/tpl/create/rentHouseForm.html'"
         ng-if="model.category==2 && model.type=='rent'"></div>
    <div ng-include="'apps/core/adv/tpl/create/rentGarageForm.html'"
         ng-if="model.category==3 && model.type=='rent'"></div>
    <div ng-include="'apps/core/adv/tpl/create/rentOfficeForm.html'"
         ng-if="model.category==4 && model.type=='rent'"></div>
    <div ng-include="'apps/core/adv/tpl/create/rentHotelForm.html'"
         ng-if="model.category==6 && model.type=='rent'"></div>
    <div ng-include="'apps/core/adv/tpl/create/rentHallForm.html'"
         ng-if="model.category==7 && model.type=='rent'"></div>
    <div ng-include="'apps/core/adv/tpl/create/rentRetailForm.html'"
         ng-if="model.category==8 && model.type=='rent'"></div>
    <div ng-include="'apps/core/adv/tpl/create/rentCommercialLandForm.html'"
         ng-if="model.category==9 && model.type=='rent'"></div>

    <div ng-include="'apps/core/adv/tpl/create/saleFlatForm.html'"
         ng-if="model.category==1 && model.type=='sale'"></div>
    <div ng-include="'apps/core/adv/tpl/create/saleHouseForm.html'"
         ng-if="model.category==2 && model.type=='sale'"></div>
    <div ng-include="'apps/core/adv/tpl/create/saleGarageForm.html'"
         ng-if="model.category==3 && model.type=='sale'"></div>
    <div ng-include="'apps/core/adv/tpl/create/saleOfficeForm.html'"
         ng-if="model.category==4 && model.type=='sale'"></div>
    <div ng-include="'apps/core/adv/tpl/create/saleBuildingForm.html'"
         ng-if="model.category==5 && model.type=='sale'"></div>
    <div ng-include="'apps/core/adv/tpl/create/saleHotelForm.html'"
         ng-if="model.category==6 && model.type=='sale'"></div>
    <div ng-include="'apps/core/adv/tpl/create/saleHallForm.html'"
         ng-if="model.category==7 && model.type=='sale'"></div>
    <div ng-include="'apps/core/adv/tpl/create/saleRetailForm.html'"
         ng-if="model.category==8 && model.type=='sale'"></div>
    <div ng-include="'apps/core/adv/tpl/create/saleCommercialLandForm.html'"
         ng-if="model.category==9 && model.type=='sale'"></div>


    <div ng-if="env.display_preview"  >
      <h4 translate>Preview your advert</h4>
      <adv-preview adv="model" user="user" hide-contact-form="true"></adv-preview>
    </div>

    <br style="clear: both;">
    <div class="form-group"  ng-show="adv_form.$invalid && env.submit==true" >
      <div class="alert alert-warning" role="alert"
          translate>You did not fill in all
        fields
      </div>
    </div>
    
    <div class="form-group">
      <div class="text-right">
        <button class="btn btn-primary btn-lg" type="button" ng-click="preview(adv_form)" translate>
          <span class="glyphicon glyphicon-zoom-in"></span>
          Preview
        </button>
        <button class="btn btn-success btn-lg" type="button" ng-click="save(model, adv_form)"
                ng-disabled="env.send==true" translate>
          <span class="glyphicon glyphicon-play"></span>
          Next step
        </button>
      </div>
    </div>



  </div>

</form>
